<ion-content>
  <ion-virtual-scroll [items]="members" approxItemHeight="60px">
    <ion-item *virtualItem="let member; let index = index" (click)="memberClicked.emit(member.UniqueIndex)">
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col class="ion-text-end border-right"
                   style="padding-right: 6px"
                   size="1">
            <ion-label>
              <ion-text class="ion-text-nowrap">
                <p>{{member.Position}}</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col style="padding-left: 6px" size="1">
            <ion-label>
              <ion-text class="ion-text-nowrap">
                <p>{{member.RankingIndex}}</p>
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size="7" offset="1">
            <ion-label>
              <ion-text>
                {{member.FirstName | titlecase}} {{member.LastName | titlecase}}
              </ion-text>
            </ion-label>
          </ion-col>
          <ion-col size="1">
            <ion-label>
              <ion-text class="ion-text-nowrap">
                {{member.Ranking}}
              </ion-text>
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-virtual-scroll>

</ion-content>
