<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="'BACK'|translate"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'SETTINGS.ACTIVE_USER' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" *ngIf="modalCtrl">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list class="ion-margin-bottom">
        <ion-item button (click)="chooseClub()">
            <ion-icon name="ellipse-outline" slot="start" *ngIf="!selectedClub"></ion-icon>
            <ion-icon name="checkmark-circle" color="success" slot="start" *ngIf="selectedClub"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedClub">{{'SETTINGS.WHICH_CLUB'|translate}}</h2>
                <h2 *ngIf="selectedClub">{{selectedClub.UniqueIndex}} - {{selectedClub.LongName}}</h2>
            </ion-label>
        </ion-item>
        <ion-item button [disabled]="!selectedClub" (click)="choosePlayer()">
            <ion-icon name="ellipse-outline" slot="start" *ngIf="!selectedMember"></ion-icon>
            <ion-icon name="checkmark-circle" color="success" slot="start" *ngIf="selectedMember"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedMember">{{'SETTINGS.WHO_ARE_YOU'|translate}}</h2>
                <h2 *ngIf="selectedMember">{{selectedMember.FirstName | titlecase}} {{selectedMember.LastName | titlecase}}</h2>
            </ion-label>
        </ion-item>
        <ion-item class="ion-text-center" type="submit" color="primary" [disabled]="!(selectedMember && selectedClub) || isLoading"
                  (click)="select()">
            <ion-label class="ion-no-margin">{{'SETTINGS.APPLY'|translate}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
