<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="'BACK'|translate"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'SETTINGS.ACTIVE_USER' | translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" *ngIf="modalCtrl">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list class="ion-margin-bottom">
        <ion-item (click)="chooseClub()" button>
            <ion-icon *ngIf="!selectedClub" name="ellipse-outline" slot="start"></ion-icon>
            <ion-icon *ngIf="selectedClub" color="success" name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedClub">{{'SETTINGS.WHICH_CLUB'|translate}}</h2>
                <h2 *ngIf="selectedClub">{{selectedClub.UniqueIndex}} - {{selectedClub.LongName}}</h2>
            </ion-label>
        </ion-item>
        <ion-item (click)="choosePlayer()" [disabled]="!selectedClub" button>
            <ion-icon *ngIf="!selectedMember" name="ellipse-outline" slot="start"></ion-icon>
            <ion-icon *ngIf="selectedMember" color="success" name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedMember">{{'SETTINGS.WHO_ARE_YOU'|translate}}</h2>
                <h2 *ngIf="selectedMember">{{selectedMember.FirstName | titlecase}} {{selectedMember.LastName | titlecase}}</h2>
            </ion-label>
        </ion-item>
        <ion-item (click)="select()" [disabled]="!(selectedMember && selectedClub) || isLoading" class="ion-text-center"
                  color="primary"
                  type="submit">
            <ion-label class="ion-no-margin">{{'SETTINGS.APPLY'|translate}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
