<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Bienvenue dans BePing</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content *ngIf="{isLoading: isLoading$ | async, hasError: hasError$ | async} as state" fullscreen="true">
    <ion-header collapse="condense">
        <ion-toolbar color="primary">
            <ion-title size="large">Bienvenue</ion-title>
        </ion-toolbar>
    </ion-header>

    <ion-list class="ion-margin-bottom">
        <ion-item>
            <ion-spinner *ngIf="state.isLoading" slot="start"></ion-spinner>
            <ng-container *ngIf="!state.isLoading">
                <ion-icon *ngIf="state.hasError" color="danger" icon="ellipse-outline" slot="start"></ion-icon>
                <ion-icon *ngIf="!state.hasError" color="success" icon="checkmark-circle" slot="start"></ion-icon>
            </ng-container>
            <ion-label *ngIf="state.isLoading" class="ion-text-wrap">Un moment... on se synchronise avec la
                fédération
            </ion-label>
            <ng-container *ngIf="!state.isLoading">
                <ion-label *ngIf="!state.hasError" class="ion-text-wrap">Beping est synchronisé avec la
                    fédération
                </ion-label>
                <ion-label *ngIf="state.hasError" class="ion-text-wrap">Une erreur est survenue lors de la
                    synchronisation
                </ion-label>
            </ng-container>
        </ion-item>
    </ion-list>

    <div class="ion-padding-horizontal">
        <p>Connectez-vous avec l'AFTT et BePing fera le reste.</p>
        <section>
            <ion-button (click)="loginWithAFTT()" expand="block">Connexion avec resultat.aftt.be</ion-button>
        </section>
    </div>
    <hr>
    <p class="ion-padding-horizontal">
        Sélectionnez manuellement votre identité.
    </p>
    <ion-list class="ion-margin-bottom">
        <ion-item (click)="chooseClub()" [disabled]="state.hasError || state.isLoading" button>
            <ion-icon *ngIf="!selectedClub" name="ellipse-outline" slot="start"></ion-icon>
            <ion-icon *ngIf="selectedClub" color="success" name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedClub">Dans quel club jouez-vous?</h2>
                <h2 *ngIf="selectedClub">{{selectedClub.UniqueIndex}} - {{selectedClub.LongName}}</h2>
            </ion-label>
        </ion-item>
        <ion-item (click)="choosePlayer()" [disabled]="!selectedClub" button>
            <ion-icon *ngIf="!selectedMember" name="ellipse-outline" slot="start"></ion-icon>
            <ion-icon *ngIf="selectedMember" color="success" name="checkmark-circle" slot="start"></ion-icon>
            <ion-label>
                <h2 *ngIf="!selectedMember">Qui êtes-vous?</h2>
                <h2 *ngIf="selectedMember">{{selectedMember.FirstName | titlecase}} {{selectedMember.LastName | titlecase}}</h2>
            </ion-label>
        </ion-item>
    </ion-list>
    <section>
        <ion-button (click)="startBePing()" [disabled]="!selectedMember || !selectedClub" expand="block" fill="clear">
            Démarrer BePing
        </ion-button>
    </section>
    <hr>
    <div class="ion-padding-horizontal">
        <p>Je ne suis pas affilié, je veux juste consulter les résultats.</p>
        <section>
            <ion-button (click)="startBePing()" expand="block" fill="clear">Démarrer sans identification</ion-button>
        </section>
    </div>
</ion-content>
