<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'CALCULATOR.POINTS_CALCULATOR'|translate}}</ion-title>
        <ion-buttons slot="end" *ngIf="hasPoints$|async">
            <ion-button (click)="reset()">
                <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar *ngIf="(playerCategories$|async)?.length > 1">
        <ion-segment [value]="currentCategory$|async" (ionChange)="categoryChanged($event)">
            <ion-segment-button id="segment-0" [value]="PLAYER_CATEGORY.MEN">
                <ion-label class="ion-text-capitalize">{{'PLAYER_CATEGORY.MEN_SHORT' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button id="segment-1" [value]="PLAYER_CATEGORY.WOMEN">
                <ion-label class="ion-text-capitalize">{{'PLAYER_CATEGORY.WOMEN_SHORT' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <beping-calculator-results-list
            *ngIf="hasPoints$|async; else noPoints"
            [pointsEntryWithPoints]="pointsEntryWithPoints$|async"
            [nextRanking]="nextRanking$|async"
            [pivot]="pivot$|async"
            [currentCategory]="currentCategory$|async"
            (add)="addEntry()"
            (edit)="editEntry($event)"
            (delete)="delete($event)"
    ></beping-calculator-results-list>
    <ng-template #noPoints>
        <beping-alert-full-page
                [icon]="'alert-outline'"
                [title]="'CALCULATOR.NO_POINTS_AVAILABLE_TITLE'|translate"
                [message]="'CALCULATOR.NO_POINTS_AVAILABLE_MSG'|translate">
        </beping-alert-full-page>
    </ng-template>

</ion-content>
