<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{('DIVISION_LEVEL.' + (level$|async)) |translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <ion-list [lines]="'inset'" [inset]="true">
        <ion-item (click)="divisionClicked(div)" *ngFor="let div of divisions$ | async" detail>
            <ion-label class="ion-text-wrap">
                {{div.DivisionName.split('-')[0] | titlecase}}
                <p *ngIf="div.DivisionCategory">{{'PLAYER_CATEGORY.' + div.DivisionCategory | translate | titlecase}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
