<ion-header [translucent]="true" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{('DIVISION_LEVEL.' + (level$|async)) |translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
        <ion-item (click)="divisionClicked(div)" *ngFor="let div of divisions$ | async" detail>
            <ion-label class="ion-text-wrap">
                <h3>{{div.DivisionName.split('-')[0] | titlecase}}</h3>
                <p *ngIf="div.DivisionCategory">{{'PLAYER_CATEGORY.' + div.DivisionCategory | translate | titlecase}}</p>
            </ion-label>
        </ion-item>
    </ion-list>
</ion-content>
