ion-chip.ion-color-green {
  background: rgba(var(--ion-color-base-rgb), 0.3);
  color: white;
}

ion-chip.ion-color-danger {
  background: rgba(var(--ion-color-base-rgb), 0.3);
  color: white;
}
h2{
  @media (prefers-color-scheme: dark) {
    color: white;
  }
  @media (prefers-color-scheme: light) {
    color: rgb(69, 69, 69);
  }
}
