<ion-grid>
    <ion-row *ngIf="displayName" class="ion-text-center">
        <ion-col>
            <ion-text>
                <h2 class="ion-no-margin">{{member.FirstName |titlecase}} {{member.LastName |titlecase}}</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
        <ion-col>
            <ion-chip>
                <ion-label>
                    {{member.Ranking}}
                    <span *ngIf="displayNumericRanking && nextRanking">
                        <ion-icon name="arrow-forward-outline"></ion-icon>
                        {{nextRanking}}
                    </span>
                </ion-label>
            </ion-chip>
            <ion-chip *ngIf="displayELO">
                <ion-label>ELO {{elo}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="displayNumericRanking && bel">
                <ion-label>Points {{bel}}</ion-label>
            </ion-chip>
            <ion-chip *ngIf="displayNumericRanking && belRanking">
                <ion-label>Position {{belRanking}}</ion-label>
            </ion-chip>

        </ion-col>
    </ion-row>
</ion-grid>
