<ion-grid>
    <ion-row *ngIf="displayName" class="ion-text-center">
        <ion-col>
            <ion-text color="clear">
                <h2 class="ion-no-margin"
                    style="color: white">{{member.FirstName |titlecase}} {{member.LastName |titlecase}}</h2>
            </ion-text>
        </ion-col>
    </ion-row>
    <ion-row class="ion-text-center">
        <ion-col>

            <ion-chip>
                <ion-label>
                    <ion-row>
                        <ion-col>
                            {{member.Ranking}}
                        </ion-col>
                        <ion-col *ngIf="nextRanking && nextRanking !== '?'">
                            <ion-icon name="arrow-forward-outline"></ion-icon>
                        </ion-col>
                        <ion-col *ngIf="nextRanking && nextRanking !== '?'">
                            {{nextRanking}}
                        </ion-col>
                    </ion-row>
                </ion-label>
            </ion-chip>
            <ion-chip>
                <ion-label>ELO {{elo}}</ion-label>
            </ion-chip>

        </ion-col>
    </ion-row>
</ion-grid>
