<ion-header>
  <ion-toolbar>
    <ion-title>Club</ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment>
      <ion-segment-button value="camera">
        <ion-label>Journée</ion-label>
      </ion-segment-button>
      <ion-segment-button value="bookmark">
        <ion-label>Classement</ion-label>
      </ion-segment-button>
      <ion-segment-button value="team">
        <ion-label>Equipes</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-label>
  Test
</ion-label>
</ion-content>
