<ion-header>
    <ion-toolbar>
        <ion-title>{{'SIDEMENU.SETTINGS'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button color="grey" (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <h1>{{(season$|async)?.Name}}</h1>
                <ion-text color="grey">{{'SETTINGS.CURRENT_SEASON' | translate}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <beping-section-title [title]="'USER' | translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="changeMember()" detail>
            <ion-label>
                <h3>
                    {{'SETTINGS.ACTIVE_USER' | translate}}
                </h3>
            </ion-label>
            <ion-label class="ion-text-end" slot="end">{{playerName$|async|titlecase}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(playerCategories$ | async)?.length > 1">
            <ion-label>
                <h3>
                    {{'SETTINGS.DISPLAY_RANKING' | translate}}
                </h3>
            </ion-label>
            <ion-select (ionChange)="mainCategoryChanged($event)" [interface]="'popover'" [value]="mainCategory$|async"
                        placeholder="Select One">
                <ion-select-option
                        *ngFor="let category of playerCategories$|async"
                        [value]="category">{{'PLAYER_CATEGORY.' + category | translate}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>
                    {{'SETTINGS.CHANGE_LANGUAGE' | translate}} {{currentLang$|async}}
                </h3>
            </ion-label>
            <ion-select (ionChange)="changeLang($event )" [interface]="'popover'" [value]="currentLang$|async"
                        placeholder="Select One">
                <ion-select-option value="fr">{{'SETTINGS.FRENCH' | translate}}</ion-select-option>
                <ion-select-option value="nl">{{'SETTINGS.DUTCH' | translate}}</ion-select-option>
                <ion-select-option value="en">{{'SETTINGS.ENGLISH' | translate}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <ion-item (click)="openSubscription()" [disabled]="!isOnline" detail *ngIf="bepingProEnabled$|async">
        <ion-label>
            <h3>
                {{'SETTINGS.PREMIUM_SUBSCRIPTION' | translate}}
            </h3>
        </ion-label>
    </ion-item>
    <beping-section-title [title]="'COMMON.RANKINGS' | translate"></beping-section-title>
    <ion-list>
        <ion-item>
            <ion-label>
                <h3>
                    {{'SETTINGS.DISPLAY_ELO' | translate}}
                </h3>
            </ion-label>
            <ion-toggle
                    [checked]="displayELO$|async"
                    (ionChange)="toggleELO($event)">
            </ion-toggle>
        </ion-item>
        <ion-item>
            <ion-label>
                <h3>
                    {{'SETTINGS.DISPLAY_BEL' | translate}}
                </h3>
            </ion-label>
            <ion-toggle
                    [checked]="displayNumeric$|async"
                    (ionChange)="toggleNumericRanking($event)">
            </ion-toggle>
        </ion-item>
    </ion-list>
    <beping-section-title [title]="'SETTINGS.CONNECT_TO_FEDERATION'|translate"></beping-section-title>
    <ng-container *ngIf="isLoggedIn|async; else anonymous">
        <ion-list class="ion-margin-bottom">
            <ion-item>
                <ion-icon color="success" icon="checkmark-circle" slot="start"></ion-icon>
                <ion-label *ngIf="(account$|async) as account"
                           class="ion-text-wrap">
                    <h3>
                        {{'SETTINGS.YOU_ARE_CONNECTED' | translate:{username: account} }}
                    </h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="logout()" color="danger">
                <ion-icon icon="log-out-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h3>
                        {{'SETTINGS.LOGOUT' |translate }}
                    </h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>

    <ng-template #anonymous>
        <ion-list class="ion-margin-bottom">
            <ion-item (click)="login()" detail>
                <ion-icon color="primary" icon="link-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h3>
                        {{'SETTINGS.LOGIN' | translate}}
                    </h3>
                </ion-label>
            </ion-item>
            <ion-item (click)="register()" detail>
                <ion-icon icon="log-in-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">
                    <h3>
                        {{'SETTINGS.REGISTER' | translate}}
                    </h3>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
    <beping-section-title [title]="'SETTINGS.ADVANCED'|translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="resetCache()" [disabled]="!isOnline" detail detail-icon="refresh">
            <ion-label>
                <h3>
                    {{'SETTINGS.REFRESH_BEPING' | translate}}
                </h3>
            </ion-label>
        </ion-item>

        <ion-grid *ngIf="!isOnline">
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-text color="danger">{{'SETTINGS.NEED_INTERNET_TO_REFRESH'|translate}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <!--
        <beping-section-title title="Notifications"></beping-section-title>
        <ion-list>
            <ion-item detail>
                <ion-label>
                    Notifications de résultats
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label>Top 6 Liège-Verviers</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Top 6 Liège</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Top 6 Huy-Waremme</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
        </ion-list>
        --->
    <beping-section-title [title]="'SETTINGS.MORE_INFO'|translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="contact()" detail>
            <ion-label>
                <h3>
                    {{'SETTINGS.CONTACT_DEVELOPER' | translate}}
                </h3>
            </ion-label>
        </ion-item>
        <ion-item (click)="contributors()" detail>
            <ion-label>
                <h3>
                    {{'SETTINGS.CONTRIBUTORS.CONTRIBUTORS' | translate}}
                </h3>
            </ion-label>
        </ion-item>
        <ion-item (click)="cgu()" detail>
            <ion-label>
                <h3>
                    {{'SETTINGS.TERMS_AND_CONDITIONS' | translate}}
                </h3>
            </ion-label>
        </ion-item>
        <ion-item (click)="privacy()" detail>
            <ion-label>
                <h3>
                    {{'SETTINGS.PRIVACY_POLICY' | translate}}
                </h3>
            </ion-label>
        </ion-item>
        <ion-item (click)="openStatus()" detail detail-icon="open-outline">
            <ion-label>
                <h3>
                    {{'SETTINGS.SERVER_STATUS' | translate}}
                </h3>
            </ion-label>
        </ion-item>
    </ion-list>

    <beping-section-title [title]="'SETTINGS.PARTNERSHIP.TITLE'|translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="openRotatio()" detail detail-icon="open-outline">
            <ion-avatar slot="start">
                <img src="/assets/icon/rotation-logo.jpeg" alt="rotation logo"/>
            </ion-avatar>
            <ion-label>
                <h3>
                    {{'SETTINGS.PARTNERSHIP.ROTATIO' | translate}}
                </h3>
                <p class="ion-text-wrap">
                    {{'SETTINGS.PARTNERSHIP.ROTATIO_SUBTITLE' | translate}}
                </p>
            </ion-label>
        </ion-item>
        <ion-item (click)="openTTManager()" detail detail-icon="open-outline">
            <ion-avatar slot="start">
                <img src="/assets/icon/tt-manager.png" alt="tt-manager logo" style="border-radius: 0"/>
            </ion-avatar>
            <ion-label>
                <h3>
                    {{'SETTINGS.PARTNERSHIP.TTMANAGER' | translate}}
                </h3>
                <p class="ion-text-wrap">
                    {{'SETTINGS.PARTNERSHIP.TTMANAGER_SUBTITLE' | translate}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-text color="grey">Version {{version}} ({{build}})</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
