<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{'SIDEMENU.SETTINGS'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <h1>{{(season$|async).Name}}</h1>
                <ion-text color="grey">{{'SETTINGS.CURRENT_SEASON' | translate}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
    <beping-section-title [title]="'USER' | translate"></beping-section-title>

    <ion-list>
        <ion-item (click)="changeMember()" detail>
            <ion-label>
                {{'SETTINGS.ACTIVE_USER' | translate}}
            </ion-label>
            <ion-label class="ion-text-end" slot="end">{{playerName$|async|titlecase}}</ion-label>
        </ion-item>
        <ion-item *ngIf="(playerCategories$ | async)?.length > 1">
            <ion-label>{{'SETTINGS.DISPLAY_RANKING' | translate}}</ion-label>
            <ion-select (ionChange)="mainCategoryChanged($event)" [interface]="'popover'" [value]="mainCategory$|async"
                        placeholder="Select One">
                <ion-select-option
                        *ngFor="let category of playerCategories$|async"
                        [value]="category">{{'PLAYER_CATEGORY.' + category | translate}}
                </ion-select-option>
            </ion-select>
        </ion-item>
        <ion-item>
            <ion-label>{{'SETTINGS.CHANGE_LANGUAGE' | translate}} {{currentLang$|async}}</ion-label>
            <ion-select (ionChange)="changeLang($event )" [interface]="'popover'" [value]="currentLang$|async"
                        placeholder="Select One">
                <ion-select-option value="fr">{{'SETTINGS.FRENCH' | translate}}</ion-select-option>
                <ion-select-option value="nl">{{'SETTINGS.DUTCH' | translate}}</ion-select-option>
                <ion-select-option value="en">{{'SETTINGS.ENGLISH' | translate}}</ion-select-option>
            </ion-select>
        </ion-item>
    </ion-list>
    <beping-section-title [title]="'SETTINGS.CONNECT_TO_FEDERATION'|translate"></beping-section-title>
    <ng-container *ngIf="isLoggedIn|async; else anonymous">
        <ion-list class="ion-margin-bottom">
            <ion-item>
                <ion-icon color="success" icon="checkmark-circle" slot="start"></ion-icon>
                <ion-label *ngIf="(account$|async) as account"
                           class="ion-text-wrap">{{'SETTINGS.YOU_ARE_CONNECTED' | translate:{username: account} }}</ion-label>
            </ion-item>
            <ion-item (click)="logout()" color="danger">
                <ion-icon icon="log-out-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">{{'SETTINGS.LOGOUT' |translate }}</ion-label>
            </ion-item>
        </ion-list>
    </ng-container>

    <ng-template #anonymous>
        <ion-list class="ion-margin-bottom">
            <ion-item (click)="login()" detail>
                <ion-icon color="primary" icon="link-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">{{'SETTINGS.LOGIN' | translate}}</ion-label>
            </ion-item>
            <ion-item (click)="register()" detail>
                <ion-icon icon="log-in-outline" slot="start"></ion-icon>
                <ion-label class="ion-text-wrap">{{'SETTINGS.REGISTER' | translate}}</ion-label>
            </ion-item>
        </ion-list>
    </ng-template>
    <beping-section-title [title]="'SETTINGS.ADVANCED'|translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="resetCache()" [disabled]="!isOnline" detail>
            <ion-label>
                {{'SETTINGS.REFRESH_BEPING' | translate}}
            </ion-label>
        </ion-item>

        <ion-grid *ngIf="!isOnline">
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-text color="danger">{{'SETTINGS.NEED_INTERNET_TO_REFRESH'|translate}}</ion-text>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-list>
    <!--
        <beping-section-title title="Notifications"></beping-section-title>
        <ion-list>
            <ion-item detail>
                <ion-label>
                    Notifications de résultats
                </ion-label>
            </ion-item>
        </ion-list>
        <ion-list>
            <ion-item>
                <ion-label>Top 6 Liège-Verviers</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Top 6 Liège</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
            <ion-item>
                <ion-label>Top 6 Huy-Waremme</ion-label>
                <ion-toggle></ion-toggle>
            </ion-item>
        </ion-list>
        --->
    <beping-section-title [title]="'SETTINGS.MORE_INFO'|translate"></beping-section-title>
    <ion-list>
        <ion-item (click)="contact()" detail>
            <ion-label>
                {{'SETTINGS.CONTACT_DEVELOPER' | translate}}
            </ion-label>
        </ion-item>
        <ion-item (click)="cgu()" detail>
            <ion-label>
                {{'SETTINGS.TERMS_AND_CONDITIONS' | translate}}
            </ion-label>
        </ion-item>
        <ion-item (click)="privacy()" detail>
            <ion-label>
                {{'SETTINGS.PRIVACY_POLICY' | translate}}
            </ion-label>
        </ion-item>
    </ion-list>


    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-text color="grey">Version {{version}} ({{build}})</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
