<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'SETTINGS.CONTRIBUTORS.CONTRIBUTORS' | translate}}</ion-title>

    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list [inset]="true" [lines]="'inset'">
        <ion-item detail-icon="open-outline" detail (click)="openGithub('https://github.com/Fllorent0D')">
            <ion-avatar slot="start">
                <img src="https://avatars.githubusercontent.com/u/13313104?v=4">
            </ion-avatar>
            <ion-label>
                Florent Cardoen
                <p>@Fllorent0D</p>
            </ion-label>
        </ion-item>
        <ion-item detail-icon="open-outline" detail (click)="openGithub('https://github.com/RaphaelFelten')">
            <ion-avatar slot="start">
                <img src="https://avatars.githubusercontent.com/u/22978583?v=4">
            </ion-avatar>
            <ion-label>
                @RaphaelFelten
            </ion-label>
        </ion-item>
    </ion-list>
    <p class="ion-text-center">
        {{'SETTINGS.CONTRIBUTORS.THANKS'|translate}}
    </p>
    <beping-section-title [title]="'SETTINGS.CONTRIBUTORS.WANNA_HELP' | translate"></beping-section-title>
    <ion-list [inset]="true" [lines]="'inset'">
        <ion-item detail-icon="open-outline" detail (click)="openGithub('https://github.com/Fllorent0D/BePing2')">
            <ion-label>
                {{'SETTINGS.CONTRIBUTORS.BEPING_MOBILE'|translate}}
                <p>{{'SETTINGS.CONTRIBUTORS.MOBILE_APP_REPO'|translate}}</p>
            </ion-label>
        </ion-item>
        <ion-item detail-icon="open-outline" detail (click)="openGithub('https://github.com/Fllorent0D/TabT-Rest')">
            <ion-label>
                {{'SETTINGS.CONTRIBUTORS.TABT_REST'|translate}}
                <p>{{'SETTINGS.CONTRIBUTORS.BACKEND_REPO'|translate}}</p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
