<ion-item (click)="matchClicked.emit(result.matchEntry.MatchUniqueId.toString(10))">
    <ion-grid>
        <ion-row class="ion-align-items-center">
            <ion-col class="ion-text-center border-right" size="2">
                <ion-text>{{result.date|localizedDate:'dd'}}</ion-text>
                <br>
                <ion-text>{{result.date|localizedDate:'MMM'}}</ion-text>
            </ion-col>
            <ion-col class="ion-no-padding ion-padding-start" size="7">
                <ion-text>
                    <ion-text>{{result.playerRanking}} - {{result.opponentRanking}}</ion-text>
                    <br>
                    <ion-text color="grey">{{result.matchEntry.MatchId}}</ion-text>
                </ion-text>
            </ion-col>
            <ion-col
                    [class.is-color-danger]="setAgainst === 3"
                    [class.is-color-primary]="setFor === 3"
                    class="ion-text-center ion-no-padding" size="3">
                <ion-text class="ion-no-margin small">{{result.score}}</ion-text>
                <br>
                <ion-text
                        class="ion-text-wrap">{{(setFor === 3 ? 'COMMON.WIN' : 'COMMON.DEFEAT')|translate}}</ion-text>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-item>
