<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'TOURNAMENTS.SERIES'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <ion-list  [inset]="true">
        <ion-item (click)="serieClicked(serie)" *ngFor="let serie of series" [detail]="serie.RegistrationCount > 0">
            <ion-label>

                    {{serie.Name}}

                <p>
                    {{serie.RegistrationCount}} {{'TOURNAMENTS.REGISTRATIONS'|translate}}
                </p>
            </ion-label>
        </ion-item>
    </ion-list>

</ion-content>
