<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button [text]="'BACK'|translate"></ion-back-button>
    </ion-buttons>
    <ion-title>{{'TOURNAMENTS.SERIES'|translate}}</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
    <ion-list>
      <ion-item *ngFor="let serie of series" [detail]="serie.RegistrationCount > 0" (click)="serieClicked(serie)">
        <ion-label>
          <h3>
            {{serie.Name}}
          </h3>
          <p>
            {{serie.RegistrationCount}} {{'TOURNAMENTS.REGISTRATIONS'|translate}}
          </p>
        </ion-label>
      </ion-item>
    </ion-list>

</ion-content>
