<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'MATCH_ENTRY_SHEET.HELP_MATCH_SHEET'|translate}}</ion-title>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <beping-team-match-info-list *ngIf="match" [match]="match"></beping-team-match-info-list>
    <beping-section-title [title]="'CLUB_DETAILS.LIST_OF_STRENGTH' | translate"></beping-section-title>
    <ion-segment class="ion-padding" [(ngModel)]="club">
        <ion-segment-button value="home" >
            <ion-label>{{ 'COMMON.HOME_TEAM' | translate }}</ion-label>
        </ion-segment-button>
        <ion-segment-button value="away">
            <ion-label>{{ 'COMMON.AWAY_TEAM' | translate }}</ion-label>
        </ion-segment-button>
    </ion-segment>
    <beping-member-list-of-strengh-checkbox [players]="club === 'home' ? (homeMembers$|async) : (awayMembers$|async)"></beping-member-list-of-strengh-checkbox>
</ion-content>
