<ion-content [scrollX]="false">
    <ion-slides #slider [options]="slideOpts" class="is-slider-page">
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.WELCOME_ON_BEPING'|translate}}</h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.BEPING_THE_PING_APP'|translate}}<br>🇧🇪
                                    </ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding1.png">
                    </ion-grid>
                </ion-row>
                <ion-row class="buttons-slide">
                    <ion-col>
                        <ion-button (click)="goToEnd()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="clear">{{'ONBOARDING.SKIP' | translate}}
                        </ion-button>
                        <ion-button (click)="next()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="solid">{{'ONBOARDING.CONTINUE'|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.FIND_ALL_RESULTS'|translate}}</h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.ALL_RANKINGS'|translate}}
                                    </ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding2.png">
                    </ion-grid>
                </ion-row>
                <ion-row class="buttons-slide">
                    <ion-col>
                        <ion-button (click)="goToEnd()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="clear">{{'ONBOARDING.SKIP' | translate}}
                        </ion-button>
                        <ion-button (click)="next()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="solid">{{'ONBOARDING.CONTINUE'|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.FOLLOW_FAVORITES'|translate}}
                                </h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.DIRECT_LINK_TO_FAVORITE'|translate}}
                                    </ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding3.png">
                    </ion-grid>
                </ion-row>
                <ion-row class="buttons-slide">
                    <ion-col>
                        <ion-button (click)="goToEnd()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="clear">{{'ONBOARDING.SKIP' | translate}}
                        </ion-button>
                        <ion-button (click)="next()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="solid">{{'ONBOARDING.CONTINUE'|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.FIND_TOUNAMENTS'|translate}}
                                </h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.FIND_AND_REGISTER_TOURNAMENTS'|translate}}
                                    </ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding4.png">
                    </ion-grid>
                </ion-row>
                <ion-row class="buttons-slide">
                    <ion-col>
                        <ion-button (click)="goToEnd()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="clear">{{'ONBOARDING.SKIP' | translate}}
                        </ion-button>
                        <ion-button (click)="next()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="solid">{{'ONBOARDING.CONTINUE'|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.SEARCH_QUICKLY'|translate}}
                                </h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.SEARCH_EVERYTHING'|translate}}
                                    </ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding4.png">
                    </ion-grid>
                </ion-row>
                <ion-row class="buttons-slide">
                    <ion-col>
                        <ion-button (click)="goToEnd()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="clear">{{'ONBOARDING.SKIP' | translate}}
                        </ion-button>
                        <ion-button (click)="next()" [expand]="'block'" class="ion-padding-horizontal" color="primary"
                                    fill="solid">{{'ONBOARDING.CONTINUE'|translate}}
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
        <ion-slide>
            <ion-grid class="onboarding-slide ion-no-padding">
                <ion-row class="ion-justify-content-center">
                    <ion-grid class="photo-white-container">
                        <ion-row class="">
                            <ion-col>
                                <h2>{{'ONBOARDING.LETS_GO'|translate}}
                                </h2>
                                <p>
                                    <ion-text color="grey">{{'ONBOARDING.MADE_WITH_LOVE'|translate}}</ion-text>
                                </p>
                            </ion-col>
                        </ion-row>
                        <img alt="" src="/assets/imgs/onboarding1.png">
                    </ion-grid>
                </ion-row>
                <ion-row *ngIf="{isLoading: isLoading$ | async, hasError: hasError$ | async} as state"
                         class="buttons-slide">
                    <ion-col class="ion-padding-horizontal"
                    >
                        <ng-container *ngIf="state.isLoading; else loadedOrErrored">
                            <ion-button
                                    [expand]="'block'"
                                    color="primary"
                                    disabled="disabled"
                                    fill="solid">
                                <ion-label>
                                    {{'ONBOARDING.PREPARATION'|translate}}
                                </ion-label>
                            </ion-button>
                        </ng-container>
                        <ng-template #loadedOrErrored>
                            <div style="display: flex;align-items: center; padding-bottom: 10px; justify-content: center">
                                <ion-checkbox [formControl]="acceptTermControl" color="primary" slot="start"
                                              style="max-width: 57px; min-width: 26px"></ion-checkbox>
                                <ion-label class="ion-text-wrap ion-text-left ion-padding-start text-small">
                                    {{'ONBOARDING.READ_AND_ACCEPT'|translate}}
                                    <ion-text (click)="openCGU()"
                                              color="primary">{{'ONBOARDING.TERMS_OF_USAGE'|translate}}</ion-text>
                                    {{'ONBOARDING.AND'|translate}}
                                    <ion-text (click)="openPrivacy()"
                                              color="primary">{{'ONBOARDING.PRIVACY_POLICY'|translate}}</ion-text>
                                    {{'ONBOARDING.OF_BEPING'|translate}}</ion-label>
                            </div>
                            <ion-button
                                    (click)="start()"
                                    *ngIf="!state.hasError"
                                    [disabled]="!acceptTermControl.value"
                                    [expand]="'block'"
                                    color="primary"
                                    fill="solid">
                                <ion-label>
                                    {{'ONBOARDING.START_BEPING'|translate}}
                                </ion-label>
                            </ion-button>
                            <ion-label *ngIf="state.hasError"
                                       color="warning">{{'ONBOARDING.AN_ERROR_OCCURED'|translate}}</ion-label>
                            <ion-button
                                    (click)="retry()"
                                    *ngIf="state.hasError"
                                    [expand]="'block'"
                                    color="warning"
                                    fill="solid">
                                <ion-label>
                                    {{'ONBOARDING.RETRY'|translate}}
                                </ion-label>
                            </ion-button>
                        </ng-template>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>


    </ion-slides>
</ion-content>
