
.chart-text {
  fill: var(--ion-text-color);
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  transform: translateY(0.25em);
}

.chart-number {
  font-size: 0.5em;
  line-height: 1;
  font-weight: bold;
  text-anchor: middle;
  -moz-transform: translateY(-0.7em);
  -ms-transform: translateY(-0.7em);
  -webkit-transform: translateY(-0.7em);
  transform: translateY(-0.7em);
}

.chart-label {
  font-size: 0.2em;
  text-anchor: middle;
  -moz-transform: translateY(0.3em);
  -ms-transform: translateY(0.3em);
  -webkit-transform: translateY(0.3em);
  transform: translateY(0.3em);
}
.only-number {
  font-size: 0.65rem;
}



