<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{ (entry ? 'CALCULATOR.EDIT_RESULT' : 'CALCULATOR.ADD_MATCH')|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()" *ngIf="!ionRouterOutlet">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="formGroup">
        <ion-list>
            <ion-radio-group formControlName="category" *ngIf="formGroup.get('category')">
                <ion-list-header>
                    <ion-label>{{'CALCULATOR.CATEGORY'|translate}}</ion-label>
                </ion-list-header>

                <ion-item>
                    <ion-label>{{'PLAYER_CATEGORY.MEN_SHORT' |translate}}</ion-label>
                    <ion-radio [disabled]="formGroup.get('category').disabled" slot="start"
                               [value]="PLAYER_CATEGORY.MEN"></ion-radio>
                </ion-item>
                <ion-item>
                    <ion-label>{{'PLAYER_CATEGORY.WOMEN_SHORT' |translate}}</ion-label>
                    <ion-radio [disabled]="formGroup.get('category').disabled" slot="start"
                               [value]="PLAYER_CATEGORY.WOMEN"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group>
                <ion-list-header>
                    <ion-label>{{'CALCULATOR.OPPONENT'|translate}}</ion-label>
                </ion-list-header>

                <ion-item [detail]="!formGroup.get('opponentName').value" (click)="chooseMember()"
                          [disabled]="formGroup.get('category').invalid || formGroup.get('opponentName').disabled">
                    <ion-label
                            *ngIf="!formGroup.get('opponentName').value">{{'CALCULATOR.CHOOSE_OPPONENT'|translate}}</ion-label>
                    <ion-label *ngIf="formGroup.get('opponentName').value">
                        {{formGroup.get('opponentName').value | titlecase}}
                    </ion-label>
                    <ion-label *ngIf="formGroup.get('opponentRanking').value" slot="end">
                        {{formGroup.get('opponentRanking').value}} points
                    </ion-label>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group formControlName="matchResult" *ngIf="formGroup.get('matchResult')">
                <ion-list-header>
                    <ion-label>{{'CALCULATOR.MATCH_RESULT'|translate}}</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>{{'COMMON.WIN'|translate}}</ion-label>
                    <ion-radio slot="start" color="success" [value]="'victory'"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>{{'COMMON.DEFEAT'|translate}}</ion-label>
                    <ion-radio slot="start" color="danger" [value]="'defeat'"></ion-radio>
                </ion-item>
            </ion-radio-group>

            <ion-radio-group formControlName="eventType" *ngIf="formGroup.get('eventType')">
                <ion-list-header>
                    <ion-label>{{'CALCULATOR.EVENT_TYPE.NAME'|translate}}</ion-label>
                </ion-list-header>
                <ion-item>
                    <ion-label>{{'COMMON.CHAMPIONSHIP'|translate}}</ion-label>
                    <ion-radio checked="true" slot="start" [value]="EVENT_TYPE.CHAMPIONSHIP"></ion-radio>
                </ion-item>

                <ion-item>
                    <ion-label>{{'COMMON.TOURNAMENT'|translate}}</ion-label>
                    <ion-radio slot="start" [value]="EVENT_TYPE.TOURNAMENT"></ion-radio>
                </ion-item>
            </ion-radio-group>
            <br>
            <ion-list-header *ngIf="formGroup.get('eventType').value">
                <ion-label>{{'CALCULATOR.EVENT_TYPE.CATEGORY'|translate}}</ion-label>
            </ion-list-header>
            <ion-radio-group formControlName="eventId">
                <ng-container *ngIf="formGroup.get('eventType').value === EVENT_TYPE.CHAMPIONSHIP">
                    <ion-item *ngFor="let event of coefficientPerEvent[EVENT_TYPE.CHAMPIONSHIP]">
                        <ion-label
                                class="multiline">{{('CALCULATOR.EVENT_TYPE.' + this.formGroup.get('category').value?.toUpperCase() + '.CHAMPIONSHIP.' + event.eventId) | translate}}</ion-label>
                        <ion-radio slot="start" [value]="event.eventId"></ion-radio>
                    </ion-item>
                </ng-container>
                <ng-container *ngIf="formGroup.get('eventType').value === EVENT_TYPE.TOURNAMENT">
                    <ion-item *ngFor="let event of coefficientPerEvent[EVENT_TYPE.TOURNAMENT]">
                        <ion-label
                                class="multiline">{{('CALCULATOR.EVENT_TYPE.' + this.formGroup.get('category').value?.toUpperCase() + '.TOURNAMENT.' + event.eventId) | translate}}</ion-label>
                        <ion-radio slot="start" [value]="event.eventId"></ion-radio>
                    </ion-item>
                </ng-container>
            </ion-radio-group>
            <ion-item
                    class="ion-margin-top ion-text-center ion-margin-bottom"
                    color="success"
                    [disabled]="formGroup.invalid"
                    (click)="save()">
                <ion-label>{{(entry ? 'CALCULATOR.EDIT_RESULT' : 'CALCULATOR.ADD_MATCH') |translate}}</ion-label>
            </ion-item>

        </ion-list>
    </form>

</ion-content>
