<beping-card (click)="openRotatio()" >
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-center">
                <ion-text color="grey">{{'COMMON.SPONSORED_BY'|translate}}</ion-text>
            </ion-col>
        </ion-row>
        <ion-row>
            <picture style="width: 40vw;max-width: 300px;margin: auto; display: block">
                <source srcset="assets/imgs/rotatio.jpg" alt="rotatio" media="(prefers-color-scheme: dark)">
                <img src="assets/imgs/rotatio-black.png">
            </picture>
        </ion-row>
    </ion-grid>

</beping-card>
