<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title
                *ngIf="currentMemberEntry$|async as memberEntry">{{memberEntry.FirstName | titlecase}} {{memberEntry.LastName | titlecase}}</ion-title>
        <ion-buttons slot="end">
            <beping-favorite-btn
                    (clicked)="toggleFavorite()"
                    [enabled]="isFavorite$|async"
            ></beping-favorite-btn>
            <ion-button (click)="openMenu()">
                <ion-icon slot="icon-only" icon="ellipsis-vertical"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <beping-player-content
            [categoriesAvailable]="categoriesAvailable$|async"
            [currentCategory]="currentCategory$|async"
            [currentMemberEntry]="currentMemberEntry$|async"
            [latestMatches]="latestMatches$|async"
            [displayELO]="displayELO$|async"
            [displayNumericRanking]="displayNumericRanking$|async"
            [database]="database$|async"
            [numericRankings]="numericRankings$|async">
    </beping-player-content>
    <ng-container *ngIf="categoriesAvailable$|async as playercategories">
        <ion-fab *ngIf="playercategories.length > 1" horizontal="end" slot="fixed" vertical="bottom">
            <ion-fab-button>
                <ion-icon [name]="getIcon(currentCategory$|async)"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button
                        (click)="categoryClicked(category)"
                        *ngFor="let category of playercategories"
                        [attr.data-desc]="category | titlecase"
                        [disabled]="category === (currentCategory$|async)">
                    <ion-icon [name]="getIcon(category)"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

    </ng-container>

</ion-content>
