<ion-header translucent="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{(club$ |async).LongName}}</ion-title>
        <ion-buttons slot="end">
            <beping-favorite-btn
                    [enabled]="isFavorite$|async"
                    (clicked)="toggleClubFavorite()"
            ></beping-favorite-btn>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <div class="scrollmenu" #scrollMenu>
            <ion-chip color="primary" id="tab1" [class.act]="tabIndex === 0" (click)="selectTab(0)">
                <ion-label>Liste de force</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab2" [class.act]="tabIndex === 1" outline (click)="selectTab(1)">
                <ion-label>Equipes</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab3" [class.act]="tabIndex === 2" outline (click)="selectTab(2)">
                <ion-label>Infos. pratiques</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab4" [class.act]="tabIndex === 3" outline (click)="selectTab(3)">
                <ion-label>Calendrier</ion-label>
            </ion-chip>
        </div>
    </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
    <super-tabs #superTabs>
        <super-tabs-container>
            <super-tab>
                <beping-club-player-list-tab
                        [members]="members$ | async"
                        (memberClicked)="navigateToPlayer($event)"
                >
                </beping-club-player-list-tab>
            </super-tab>
            <super-tab>
                <beping-club-team-list-tab
                        [teams]="teams$|async"
                        [club]="club$|async"
                ></beping-club-team-list-tab>
            </super-tab>
            <super-tab>
                <beping-club-pratical-info-tab
                        [venues]="venues$|async"
                >
                </beping-club-pratical-info-tab>
            </super-tab>
            <super-tab>
                <beping-team-result-tab
                        [matches]="matches$|async"
                >
                </beping-team-result-tab>
            </super-tab>
        </super-tabs-container>
    </super-tabs>
</ion-content>
