<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
        <ion-title>{{(club$ |async).UniqueIndex}} - {{(club$ |async).LongName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addToCalendar()" *ngIf="bepingProEnabled$|async">
                <ion-icon
                        size="small"
                        [name]="'calendar-number-outline'"
                        slot="icon-only">
                </ion-icon>
            </ion-button>
            <beping-favorite-btn
                    (clicked)="toggleClubFavorite()"
                    [enabled]="isFavorite$|async"
            ></beping-favorite-btn>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <div class="beping-swiper-scrollbar">
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 0">{{'CLUB_DETAILS.LIST_OF_STRENGTH' | translate}}</ion-text>
            </div>
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 1">{{'COMMON.CALENDAR' | translate}}</ion-text>
            </div>
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 2">{{'COMMON.TEAMS' | translate}}</ion-text>
            </div>
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 3">{{'CLUB_DETAILS.INFOS' | translate}}</ion-text>
            </div>
        </div>   
    </ion-toolbar>
</ion-header>
<ion-content scroll-y="false">
    <swiper
        #swiper
        [config]="swiperConfig"
        class="beping-swiper"
        (slideChange)="slideChange($event)"
    >
        <ng-template swiperSlide>
            <beping-club-player-list-tab
                    (memberClicked)="navigateToPlayer($event)"
                    [members]="members$ | async"
            >
            </beping-club-player-list-tab>
        </ng-template>
        <ng-template swiperSlide>
            <beping-team-matches-entry-list [teamMatchEntries$]="matches$">
            </beping-team-matches-entry-list>
        </ng-template>
        <ng-template swiperSlide>
            <beping-club-team-list-tab
                    [club]="club$|async"
                    [teams]="teams$|async"
            ></beping-club-team-list-tab>
        </ng-template>
        <ng-template swiperSlide>
            <beping-club-pratical-info-tab
                    [venues]="venues$|async"
            >
            </beping-club-pratical-info-tab>
        </ng-template>
    </swiper>
    <ion-fab [hidden]="activeSwiperIndex !== 0" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button>
            <ion-icon [name]="getIcon(currentCategory$ | async)"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button
                    (click)="categoryClicked(category)"
                    *ngFor="let category of CATEGORIES"
                    [attr.data-desc]="'PLAYER_CATEGORY.' + category | translate"
                    [color]="category === (currentCategory$|async)?'primary': 'light'"
                    [disabled]="category === (currentCategory$|async)">
                <ion-icon [name]="getIcon(category)"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
