 <ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{(club$ |async).UniqueIndex}} - {{(club$ |async).LongName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addToCalendar()" *ngIf="bepingProEnabled$|async">
                <ion-icon
                        size="small"
                        [name]="'calendar-number-outline'"
                        slot="icon-only">
                </ion-icon>
            </ion-button>
            <beping-favorite-btn
                    (clicked)="toggleClubFavorite()"
                    [enabled]="isFavorite$|async"
            ></beping-favorite-btn>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment [value]="activeSwiperIndex" (ionChange)="selectTab($event.detail.value)">
            <ion-segment-button [value]="0">
                <ion-label class="ion-text-capitalize">{{'CLUB_DETAILS.LIST_OF_STRENGTH' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="1">
                <ion-label class="ion-text-capitalize">{{'COMMON.CALENDAR' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="2">
                <ion-label class="ion-text-capitalize">{{'COMMON.TEAMS' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button [value]="3">
                <ion-label class="ion-text-capitalize">{{'CLUB_DETAILS.INFOS' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>
<ion-content>
    <swiper
        #swiper
        [config]="swiperConfig"
        class="beping-swiper"
        (slideChange)="slideChange($event)"
    >
        <ng-template swiperSlide>
            <beping-club-player-list-tab
                    (memberClicked)="navigateToPlayer($event)"
                    [members]="members$ | async"
            >
            </beping-club-player-list-tab>
        </ng-template>
        <ng-template swiperSlide>
            <beping-team-matches-entry-list [teamMatchEntries$]="matches$">
            </beping-team-matches-entry-list>
        </ng-template>
        <ng-template swiperSlide>
            <beping-club-team-list-tab
                    [club]="club$|async"
                    [teams]="teams$|async"
            ></beping-club-team-list-tab>
        </ng-template>
        <ng-template swiperSlide>
            <beping-club-pratical-info-tab
                    [venues]="venues$|async"
            >
            </beping-club-pratical-info-tab>
        </ng-template>
    </swiper>
    <ion-fab [hidden]="activeSwiperIndex !== 0" horizontal="end" slot="fixed" vertical="bottom">
        <ion-fab-button>
            <ion-icon [name]="getIcon(currentCategory$ | async)"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button
                    (click)="categoryClicked(category)"
                    *ngFor="let category of CATEGORIES"
                    [attr.data-desc]="'PLAYER_CATEGORY.' + category | translate"
                    [color]="category === (currentCategory$|async)?'primary': 'light'"
                    [disabled]="category === (currentCategory$|async)">
                <ion-icon [name]="getIcon(category)"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>
