<!--<beping-card (click)="navigateToDetails()" [marging]="false" [padding]="false">-->
<ion-grid (click)="navigateToDetails()">
    <ion-row class="ion-align-items-center">
        <ion-col class="ion-text-center border-right ion-no-padding" size="2">
            <ion-label class="ion-text-wrap">

                    {{result.Date|localizedDate:'dd'}}

            </ion-label>
            <ion-label class="ion-text-wrap">

                    {{result.Date|localizedDate:'MMM'}}

            </ion-label>
        </ion-col>
        <ion-col class="ion-no-padding ion-padding-start" size="7">
            <ion-label class="ion-text-wrap">

                    {{result.FirstName |titlecase}} {{result.LastName |titlecase}}

            </ion-label>
            <ion-label class="ion-text-wrap" color="grey">{{result.Club}}
                - {{result.CompetitionType === 'C' ? result.MatchId : result.TournamentName}}</ion-label>
        </ion-col>
        <ion-col [class.is-color-danger]="result.SetAgainst === 3" [class.is-color-primary]="result.SetFor === 3"
                 class="ion-text-center ion-no-padding" size="3">
            <ion-label class="ion-no-margin small">{{result.SetFor}}
                - {{result.SetAgainst}}</ion-label>
            <ion-label
                    class="ion-text-wrap">{{(result.SetFor === 3 ? 'COMMON.WIN' : 'COMMON.DEFEAT')|translate}}</ion-label>
        </ion-col>
    </ion-row>

</ion-grid>
<!--</beping-card>-->
