<ion-list [inset]="true" [lines]="'inset'" style="margin-right: 0">
    <ion-item class="no-start-padding">
        <ion-grid class="ion-no-padding">
            <ion-row>
                <ion-col class="ion-text-center">
                    <beping-victory-chart [title]="ranking" bluePct="{{victoriesPct}}"
                                          redPct="{{defeatsPct}}"></beping-victory-chart>
                </ion-col>
                <ion-col class="ion-padding">
                    <ion-label class="ion-text-wrap">{{victories}} ({{victoriesPct}}%)</ion-label>
                    <ion-label class="ion-text-wrap" color="grey">{{'COMMON.WINS'|translate}}</ion-label>
                    <ion-label class="ion-padding-top ion-text-wrap">{{defeats}} ({{defeatsPct}}%)</ion-label>
                    <ion-label class="ion-text-wrap" color="grey">{{'COMMON.DEFEATS'|translate}}</ion-label>
                    <ion-button class="ion-text-center ion-text-wrap" (click)="isOpen = !isOpen" fill="clear" size="small">
                        {{'DASHBOARD.SEE_DETAILS'|translate}}
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row *ngIf="isOpen">
                <beping-individual-match *ngFor="let result of completeResults" [result]="result"
                                         style="width: 100%"></beping-individual-match>

            </ion-row>
        </ion-grid>
    </ion-item>
</ion-list>



