<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{'RESULTS_BY_DIVISION.FAVORITES.FAVORITES'|translate}}</ion-title>
    </ion-toolbar>
    <!--
    <ion-toolbar>
        <div class="scrollmenu" #scrollMenu>
            <ion-chip color="primary" id="tab1" [class.act]="tabIndex === 0" (click)="selectTab(0)">
                <ion-label>Clubs</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab4" [class.act]="tabIndex === 1" outline (click)="selectTab(1)">
                <ion-label>Equipe</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab2" [class.act]="tabIndex === 2" outline (click)="selectTab(2)">
                <ion-label>Joueurs</ion-label>
            </ion-chip>
            <ion-chip color="primary" id="tab3" [class.act]="tabIndex === 3" outline (click)="selectTab(3)">
                <ion-label>Divisions</ion-label>
            </ion-chip>

        </div>
    </ion-toolbar>
    -->
</ion-header>
<ion-content fullscreen>
    <!--
    <super-tabs #superTabs>
        <super-tabs-container>
            <super-tab>
                <ion-list>
                    <ion-item detail *ngFor="let club of favoritesClub | async"
                              (click)="navigateToClub(club.uniqueIndex)">
                        <ion-label class="ion-text-wrap">
                            <h3>{{club.label}}</h3>
                        </ion-label>
                        <ion-note slot="end" *ngIf="club.note">{{club.note}}</ion-note>
                    </ion-item>
                </ion-list>

            </super-tab>
            <super-tab>
                <ion-list>


                </ion-list>
            </super-tab>
            <super-tab>
                <ion-list>
                    <ion-item detail *ngFor="let club of favoritesClub | async"
                              (click)="navigateToClub(club.uniqueIndex)">
                        <ion-label class="ion-text-wrap">
                            <h3>{{club.label}}</h3>
                        </ion-label>
                        <ion-note slot="end" *ngIf="club.note">{{club.note}}</ion-note>
                    </ion-item>

                </ion-list>
            </super-tab>
            <super-tab>
                <ion-list>
                    <ion-item detail *ngFor="let division of favoritesDivision | async"
                              (click)="navigateToClub(division.uniqueIndex)">
                        <ion-label class="ion-text-wrap">
                            <h3>{{division.label}}</h3>
                        </ion-label>
                        <ion-note slot="end" *ngIf="division.note">{{division.note}}</ion-note>
                    </ion-item>

                </ion-list>
            </super-tab>

        </super-tabs-container>
    </super-tabs>

-->
    <ng-container *ngIf="hasFavorites$ | async; else noFavorite">
        <ng-container *ngIf="favoritesClub | async as clubs">
            <ion-list>
                <ion-list-header>
                    {{'COMMON.CLUBS'|translate}}
                </ion-list-header>
                <ion-item (click)="navigateToClub(club.uniqueIndex)" *ngFor="let club of clubs"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{club.label}}</h3>
                    </ion-label>
                    <ion-note *ngIf="club.note" slot="end">{{club.note}}</ion-note>
                </ion-item>
                <ng-container *ngIf="clubs.length === 0">
                    <ion-label class="ion-marging-top ion-text-wrap ion-text-center">
                        <h3>{{'FAVORITES.NO_CLUBS'|translate}}</h3>
                    </ion-label>
                </ng-container>

            </ion-list>

        </ng-container>
        <ng-container *ngIf="favoritesDivision | async as divisions">
            <ion-list>
                <ion-list-header>
                    {{'COMMON.DIVISIONS'|translate}}

                </ion-list-header>
                <ion-item (click)="navigateToDivisions(division.uniqueIndex)" *ngFor="let division of divisions"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{division.label}}</h3>
                    </ion-label>
                    <ion-note *ngIf="division.note" slot="end">{{division.note}}</ion-note>
                </ion-item>
                <ng-container *ngIf="divisions.length === 0">
                    <ion-label class="ion-marging-top ion-text-wrap ion-text-center">
                        <h3>{{'FAVORITES.NO_PLAYERS'|translate}}</h3>
                    </ion-label>
                </ng-container>

            </ion-list>


        </ng-container>
        <ng-container *ngIf="favoritesMember | async as members">
            <ion-list>
                <ion-list-header>
                    {{'COMMON.PLAYERS'|translate}}

                </ion-list-header>
                <ion-item (click)="navigateToMember(member.uniqueIndex)" *ngFor="let member of members"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{member.label | titlecase}}</h3>
                    </ion-label>
                    <ion-note *ngIf="member.note" slot="end">{{member.note}}</ion-note>
                </ion-item>
                <ng-container *ngIf="members.length === 0">
                    <ion-label class="ion-marging-top ion-text-wrap ion-text-center">
                        <h3>{{'FAVORITES.NO_PLAYERS'|translate}}</h3>
                    </ion-label>
                </ng-container>

            </ion-list>

        </ng-container>
    </ng-container>
    <ng-template #noFavorite>
        <div class="no-result-container ion-padding">
            <ion-icon [color]="'grey'" name="star-outline" size="large"></ion-icon>
            <ion-label [color]="'grey'" class="ion-margin-top"><h1>{{'FAVORITES.NO_FAVORITE'|translate}}</h1>
            </ion-label>
            <ion-label [color]="'grey'" class="ion-margin-top"><h1>{{'FAVORITES.INSTRUCTIONS'|translate}}</h1>
            </ion-label>
        </div>
    </ng-template>

</ion-content>
