<ion-header>
    <ion-toolbar>
        <ion-title>{{'RESULTS_BY_DIVISION.FAVORITES.FAVORITES'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="openNotificationsModal()" *ngIf="showNotificationsButton$ | async">
                <ion-icon icon="notifications-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-button
            *ngIf="memberClub | async as club"
            (click)="navigateToURI(['clubs', club.UniqueIndex])"
            class="ion-margin-top ion-padding-horizontal"
            size="medium"
            fill="outline"
            expand="block">
        <ion-icon name="star-outline" slot="start"></ion-icon>
        <ion-label>
            {{club.UniqueIndex}} - {{club.LongName}}
        </ion-label>
    </ion-button>
    <ng-container *ngIf="hasFavorites$ | async; else noFavorite">
        <ng-container *ngIf="favoritesTeam | async as teams">
            <ion-list *ngIf="teams.length !== 0">
                <ion-list-header>
                    <ion-label>
                        {{'COMMON.TEAMS'|translate}}
                    </ion-label>
                </ion-list-header>
                <ion-item (click)="navigateToURI(team.uri)" *ngFor="let team of teams"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{team.label}}</h3>
                    </ion-label>
                    <ion-note *ngIf="team.note" slot="end">{{'PLAYER_CATEGORY.' + team.note|translate}}</ion-note>
                </ion-item>
            </ion-list>

        </ng-container>
        <ng-container *ngIf="favoritesClub | async as clubs">
            <ion-list *ngIf="clubs.length !== 0">
                <ion-list-header>
                    <ion-label>
                        {{'COMMON.CLUBS'|translate}}
                    </ion-label>
                </ion-list-header>
                <ion-item (click)="navigateToURI(club.uri)" *ngFor="let club of clubs"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{club.note}}</h3>
                    </ion-label>
                    <ion-note *ngIf="club.label" slot="end">{{club.label}}</ion-note>
                </ion-item>
            </ion-list>

        </ng-container>
        <ng-container *ngIf="favoritesDivision | async as divisions">
            <ion-list *ngIf="divisions.length !== 0">
                <ion-list-header>
                    <ion-label>
                        {{'COMMON.DIVISIONS'|translate}}
                    </ion-label>
                </ion-list-header>
                <ion-item (click)="navigateToURI(division.uri)" *ngFor="let division of divisions"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{division.label}}</h3>
                    </ion-label>
                    <ion-note *ngIf="division.note" slot="end">{{division.note}}</ion-note>
                </ion-item>

            </ion-list>


        </ng-container>
        <ng-container *ngIf="favoritesMember | async as members">
            <ion-list *ngIf="members.length !== 0">
                <ion-list-header>
                    <ion-label>
                        {{'COMMON.PLAYERS'|translate}}
                    </ion-label>
                </ion-list-header>
                <ion-item (click)="navigateToURI(member.uri)" *ngFor="let member of members"
                          detail>
                    <ion-label class="ion-text-wrap">
                        <h3>{{member.label | titlecase}}</h3>
                    </ion-label>
                    <ion-note *ngIf="member.note" slot="end">{{member.note}}</ion-note>
                </ion-item>

            </ion-list>

        </ng-container>
    </ng-container>
    <ng-template #noFavorite>
        <div class="no-result-container ion-padding">
            <ion-icon [color]="'grey'" name="star-outline" size="large"></ion-icon>
            <ion-label [color]="'grey'" class="ion-margin-top"><h1>{{'FAVORITES.NO_FAVORITE'|translate}}</h1>
            </ion-label>
            <ion-label [color]="'grey'" class="ion-margin-top"><h1>{{'FAVORITES.INSTRUCTIONS'|translate}}</h1>
            </ion-label>
        </div>
    </ng-template>

</ion-content>
