<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button ></ion-back-button>
        </ion-buttons>
        <ion-title>{{(clubIndex$ | async)}} {{(team$ | async)?.Team}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addToCalendar()" *ngIf="bepingProEnabled$|async">
                <ion-icon
                        size="small"
                        [name]="'calendar-number-outline'"
                        slot="icon-only">
                </ion-icon>
            </ion-button>
            <beping-favorite-btn
                    (clicked)="toggleFavorite()"
                    [enabled]="isFavorite$|async"
            ></beping-favorite-btn>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <div class="beping-swiper-scrollbar">
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 0">{{'TEAM_STAT.RANKING' | translate}}</ion-text>
            </div>
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 1">{{'COMMON.CALENDAR' | translate}}</ion-text>
            </div>
            <div class="segment">
                <ion-text [class.beping-swiper-segment-active]="activeSwiperIndex === 2">{{'COMMON.PLAYERS' | translate}}</ion-text>
            </div>
        </div>   
    </ion-toolbar>
</ion-header>

<ion-content>
    <swiper
        #swiper
        [config]="swiperConfig"
        class="beping-swiper"
        (slideChange)="slideChange($event)"
    >
        <ng-template swiperSlide>
            <ion-grid class="ion-no-padding">
                <ion-row style="font-size: 0.8rem;color: #9B9B9B; padding: 15px 30px 5px 30px;">
                    <ion-col size="1">
                        <ion-text
                                class="ion-text-wrap">{{'TEAM_STAT.RANKING_THREE_LETTERS' | translate}}</ion-text>
                    </ion-col>
                    <ion-col size="5">
                        <ion-text class="ion-text-wrap">{{'COMMON.TEAM'|translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="1">
                        <ion-text
                                class="ion-text-wrap">{{'TEAM_STAT.PLAYED_FIRST_LETTER' | translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="1">
                        <ion-text class="ion-text-wrap">{{'TEAM_STAT.WON_FIRST_LETTER' | translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="1">
                        <ion-text class="ion-text-wrap">{{'TEAM_STAT.LOST_FIRST_LETTER' | translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="1">
                        <ion-text class="ion-text-wrap">{{'TEAM_STAT.DRAW_FIRST_LETTER' | translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-center" size="2">
                        <ion-text
                                class="ion-text-wrap">{{'TEAM_STAT.POINTS_THREE_LETTER' | translate}}</ion-text>
                    </ion-col>
                </ion-row>
            </ion-grid>
            <ng-container *ngIf="team$ | async as team">
                <ion-item (click)="teamSelected(rankingEntry)"
                          *ngFor="let rankingEntry of ranking$ | async; let index = index"
                          [class.is-color-primary]="isSameTeam(rankingEntry, team, club$|async, team.DivisionId)"
                          style="--padding-start: 0px; --padding-end: 0px;"
                >
                    <ion-grid style="padding-top: 7px; padding-bottom: 7px">
                        <ion-row class="ion-align-items-center">
                            <ion-col class="ion-text-wrap" size="1">
                                <ion-label class="ion-text-wrap">
                                    {{rankingEntry.Position}}
                                </ion-label>
                            </ion-col>
                            <ion-col size="5">
                                <ion-label class="ion-text-wrap">
                                    <h2>{{rankingEntry.Team}}</h2>
                                </ion-label>
                            </ion-col>
                            <ion-col class="border-right ion-text-center" size="1">
                                <ion-label class="ion-text-wrap" color="grey">
                                    {{rankingEntry.GamesPlayed}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="border-right ion-text-center" size="1">
                                <ion-label class="ion-text-wrap" color="grey">
                                    {{rankingEntry.GamesWon}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="border-right ion-text-center" size="1">
                                <ion-label class="ion-text-wrap" color="grey">
                                    {{rankingEntry.GamesLost}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="border-right ion-text-center" size="1">
                                <ion-label class="ion-text-wrap" color="grey">
                                    {{rankingEntry.GamesDraw}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center text-bold" size="2">
                                <ion-label class="ion-text-wrap">
                                    {{rankingEntry.Points}}
                                </ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                </ion-item>
            </ng-container>
        </ng-template>
        <ng-template swiperSlide>
            <beping-team-result-tab [matches]="calendar$|async"></beping-team-result-tab>
        </ng-template>
        <ng-template swiperSlide>
            <beping-team-players-stats
                    (playerClicked)="navigateToPlayer($event)"
                    [stats]="memberRanking$|async"
            ></beping-team-players-stats>
        </ng-template>
    </swiper>
</ion-content>


