<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'SETTINGS.CONTACT_DEVELOPER'|translate}}</ion-title>
    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list [inset]="true">
        <ion-item class="ion-color-grey">
            <p>
                <b>BePing n'est pas responsable de l'encodage des résultats de matchs ni des informations de clubs ou de
                    tournois que vous pouvez trouver dans BePing.</b><br/><br/>
                Si un changement dans ces informations est requis, le développeur de BePing ne pourra pas vous
                aider.<br/><br/>
                Merci de consulter votre secrétaire de club ou la fédération afin d'effectuer les changements adéquats.
                Une fois les changements effectués au niveau de la fédération, BePing sera automatiquement mis à
                jour.<br/>
            </p>
        </ion-item>
        <ion-item [shape]="'round'" (click)="sendEmail()" class="ion-color-grey" color="primary">
            <ion-icon icon="mail-outline" slot="start"></ion-icon>
            <ion-label>Envoyer un mail</ion-label>
        </ion-item>
    </ion-list>
</ion-content>
