.no-score {
  padding-top: 10px;
  padding-bottom: 10px;
}

.small-date {
  font-size: 13px;
}

.date {
  color: var(--ion-color-pink);
  font-weight: 500;
}

beping-team-match-result {

  ion-text {
    font-size: 14px;
  }

}
