<beping-card>
    <ion-grid>
        <ion-row class=" border-bottom">
            <ion-col>
                <ion-text>{{'DASHBOARD.DECISIVE_SETS_PLAYED'|translate}}</ion-text>
            </ion-col>
            <ion-col class="ion-text-end">
                <ion-text>{{totalTieBreak}}
                    <ng-container *ngIf="totalTieBreak > 0">({{totalTieBreakPct}}%)</ng-container>
                </ion-text>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="totalTieBreak > 0">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <ion-text class="text-strong">{{victories}} ({{victoriesPct}}%)</ion-text>
                        <br>
                        <ion-text color="grey">{{'COMMON.WINS'|translate}}</ion-text>
                    </ion-col>
                    <ion-col class="ion-text-end">
                        <ion-text class="text-strong">{{defeats}} ({{defeatsPct}}%)</ion-text>
                        <br>
                        <ion-text color="grey">{{'COMMON.DEFEATS'|translate}}</ion-text>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col>
                        <div class="progress-bar">
                            <span [ngStyle]="{'width': victoriesPct-0.7 + '%'}"></span>
                            <span [ngStyle]="{'width': defeatsPct-0.7 + '%'}"></span>
                        </div>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-row>
    </ion-grid>
</beping-card>
