<ion-header>
    <ion-toolbar>
        <ion-buttons (click)="cancel()" slot="primary">
            <ion-button>
                <ion-icon icon="close-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <form [formGroup]="formGroup">
        <ion-list [inset]="true">
            <ion-item>

                <ion-label class="ion-text-wrap">{{'DIVISION_LEVEL.LEVEL'|translate}}</ion-label>
                <ion-select formControlName="levelsToDisplay"
                            multiple="true">
                    <ion-select-option *ngFor="let level of levels"
                                       [value]="level">{{('DIVISION_LEVEL.' + level)|translate}}</ion-select-option>
                </ion-select>
            </ion-item>
            <ion-item>
                <ion-label class="ion-text-wrap">{{'TOURNAMENTS.DISPLAY_FINISHED'|translate}}</ion-label>
                <ion-toggle formControlName="showPastTournaments"></ion-toggle>
            </ion-item>
        </ion-list>
        <ion-list [inset]="true">
            <ion-item (click)="submit()" button class="text-center" color="primary">
                <ion-icon name="search" slot="start"></ion-icon>
                {{"SETTINGS.APPLY"|translate}}
            </ion-item>

        </ion-list>
    </form>

</ion-content>
