:root {
  .essential-theme.essential-theme--awesome {
    --ion-background-color-theme: #232323;
    --ion-background-color-rgb-theme: 35,35,35;
    --ion-text-color-theme: #D8D8D8;

    --ion-color-primary-theme: #20d1fe;
    --ion-color-primary-contrast-theme: #ffffff;
    --ion-color-primary-contrast-rgb-theme: 255,255,255;

    --ion-color-secondary-contrast-theme: #ffffff;
    --ion-color-secondary-contrast-rgb-theme: 255,255,255;

    --ion-color-success-contrast-theme: #ffffff;
    --ion-color-success-contrast-rgb-theme: 255,255,255;

    --ion-color-danger-contrast-theme: #ffffff;
    --ion-color-danger-contrast-rgb-theme: 255,255,255;

    --ion-color-warning-contrast-theme: #ffffff;
    --ion-color-warning-contrast-rgb-theme: 255,255,255;

    --ion-color-light-contrast-theme: #232323;
    --ion-color-light-contrast-rgb-theme: 35,35,35;

    --ion-color-medium-contrast-theme: #ffffff;
    --ion-color-medium-contrast-rgb-theme: 255,255,255;

    --ion-color-dark-theme: #111111;
    --ion-color-dark-contrast-theme: #ffffff;
    --ion-color-dark-contrast-rgb-theme: 255,255,255;

    --ion-toolbar-background-theme: #232323;

    --ion-color-is-facebook-contrast-theme: #ffffff;
    --ion-color-is-facebook-contrast-rgb-theme: 255,255,255;

    --ion-color-is-twitter-contrast-theme: #ffffff;
    --ion-color-is-twitter-contrast-rgb-theme: 255,255,255;

    --ion-color-is-linkedin-contrast-theme: #ffffff;
    --ion-color-is-linkedin-contrast-rgb-theme: 255,255,255;

    --is-segment-color-theme: #707070;
    --is-segment-checked-color-theme: #ffffff;

    --ion-color-is-mute-light-theme: rgba(255, 255, 255, 0.2);
    --ion-color-is-mute-light-rgb-theme: 250,250,250;
    --ion-color-is-mute-light-contrast-theme: #000000;
    --ion-color-is-mute-light-contrast-rgb-theme: 0,0,0;
    --ion-color-is-mute-light-shade-theme: #dcdcdc;
    --ion-color-is-mute-light-tint-theme: #fbfbfb;

    --ion-color-is-text-dark-theme: #ffffff;
    --is-link-color-theme: #ffffff;
  }
}
