<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-title>{{'SETTINGS.WHICH_CLUB'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar
                id="search-club"
                (search)="searchClicked()"
                [formControl]="searchBox"
                debounce="500"
                [enterkeyhint]="'search'"
                (keydown.enter)="hideKeyboard()"
                [showClearButton]="true"
                placeholder="Rechercher"
                type="search"
        ></ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding-top" scroll-y="false">
    <cdk-virtual-scroll-viewport itemSize="45" minBufferPx="900" maxBufferPx="1350">
        <ion-list [inset]="true" [lines]="'inset'">
            <ion-item (click)="clubClicked(club)" *cdkVirtualFor="let club of clubsFound$ | async">
                <ion-label>

                        {{club.UniqueIndex}} - {{club.LongName}}

                </ion-label>
            </ion-item>
        </ion-list>

    </cdk-virtual-scroll-viewport>
    <!--
        <ion-virtual-scroll [headerFn]="categoryHeader" [items]="">
            <ion-item-divider *virtualHeader="let header" sticky>
                {{ header }}
            </ion-item-divider>

        </ion-virtual-scroll>
    -->
</ion-content>
