<ion-header [translucent]="true">
<ion-toolbar>
        <ion-title>{{'SETTINGS.WHICH_CLUB'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar
                id="search-club"
                (search)="searchClicked()"
                [formControl]="searchBox"
                debounce="500"
                enterkeyhint="search"
                placeholder="Rechercher"
                type="search"
        ></ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content fullscreen="true">
    <ion-virtual-scroll [headerFn]="categoryHeader" [items]="clubsFound$ | async">
        <ion-item-divider *virtualHeader="let header" sticky>
            {{ header }}
        </ion-item-divider>
        <ion-item (click)="clubClicked(club)" *virtualItem="let club">
            <ion-label>{{club.UniqueIndex}} - {{club.LongName}}</ion-label>
        </ion-item>
    </ion-virtual-scroll>

</ion-content>
