<beping-section-title [title]="'COMMON.PLAYERS'|translate"></beping-section-title>

<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size-sm="6" size-xs="12">
            <ion-label class="ion-padding-start" color="grey">
                {{match.HomeTeam}}
            </ion-label>
            <ion-list>
                <ion-item *ngFor="let player of match.MatchDetails.HomePlayers.Players">
                    <beping-team-match-player-item
                            (playerClicked)="playerClicked.emit(player.UniqueIndex)"
                            [player]="player"
                    ></beping-team-match-player-item>
                </ion-item>
            </ion-list>

        </ion-col>
        <ion-col size-sm="6" size-xs="12">
            <ion-label class="ion-padding-start" color="grey">
                {{match.AwayTeam}}
            </ion-label>
            <ion-list>
                <ion-item *ngFor="let player of match.MatchDetails.AwayPlayers.Players">
                    <beping-team-match-player-item
                            (playerClicked)="playerClicked.emit(player.UniqueIndex)"
                            [player]="player"
                    ></beping-team-match-player-item>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
