
<ion-grid class="ion-no-padding">
    <ion-row>
        <ion-col size-sm="6" size-xs="12">
            <beping-section-title [title]="match.HomeTeam" class="ion-hide-sm-up"></beping-section-title>

            <ion-list [inset]="true">
                <ion-item *ngFor="let player of match.MatchDetails.HomePlayers.Players" detail>
                    <beping-team-match-player-item
                            (playerClicked)="playerClicked.emit(player.UniqueIndex)"
                            [player]="player"
                    ></beping-team-match-player-item>
                </ion-item>
            </ion-list>

        </ion-col>
        <ion-col size-sm="6" size-xs="12">
            <beping-section-title [title]="match.AwayTeam" class="ion-hide-sm-up"></beping-section-title>
            <ion-list [inset]="true">
                <ion-item *ngFor="let player of match.MatchDetails.AwayPlayers.Players" detail>
                    <beping-team-match-player-item
                            (playerClicked)="playerClicked.emit(player.UniqueIndex)"
                            [player]="player"
                    ></beping-team-match-player-item>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>
</ion-grid>
