<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'COMMON.TOURNAMENTS'|translate}}</ion-title>
        <ion-buttons (click)="showFilters()" slot="primary">
            <ion-button>
                <ion-icon icon="filter-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <ng-container *ngFor="let month of tournamentsFiltered$ | async">
        <beping-section-title [title]="('MONTHS.' + month.month|translate) + ' ' + month.year"></beping-section-title>
        <ion-list [inset]="true">
            <ion-item (click)="navigateToTournamentDetail(tournament)" *ngFor="let tournament of month.tournaments"
                      detail="detail">
                <ion-label class="ion-text-wrap">
                    {{tournament.Name}}
                    <p>{{tournament.DateFrom | localizedDate}} {{tournament.DateTo ? ' - ' + (tournament.DateTo | localizedDate) : ''}}</p>
                </ion-label>
                <ion-note *ngIf="isPast(tournament)" slot="end">
                    <ion-icon color="success" icon="checkmark-circle"></ion-icon>
                </ion-note>
            </ion-item>
        </ion-list>
    </ng-container>

</ion-content>
