<ion-header [translucent]="true" collapse="fade">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'COMMON.TOURNAMENTS'|translate}}</ion-title>
        <ion-buttons (click)="showFilters()" slot="primary">
            <ion-button color="secondary">
                <ion-icon icon="options-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-buttons slot="start">
                <ion-back-button></ion-back-button>
            </ion-buttons>
            <ion-title size="large">{{'COMMON.TOURNAMENTS'|translate}}</ion-title>
        </ion-toolbar>
    </ion-header>
    <ion-list>
        <ng-container *ngFor="let month of tournamentsFiltered$ | async">
            <ion-list-header>
                <ion-label>
                    {{ 'MONTHS.' + month.month|translate}} {{month.year}}
                </ion-label>
            </ion-list-header>
            <ion-item (click)="navigateToTournamentDetail(tournament)" *ngFor="let tournament of month.tournaments"
                      detail>
                <ion-label class="ion-text-wrap">
                    <h3>{{tournament.Name}}</h3>
                    <p>{{tournament.DateFrom | localizedDate}} {{tournament.DateTo ? ' - ' + (tournament.DateTo | localizedDate) : ''}}</p>
                </ion-label>
                <ion-note *ngIf="isPast(tournament)" slot="end">
                    <ion-icon color="success" icon="checkmark-circle"></ion-icon>
                </ion-note>
            </ion-item>
        </ng-container>

    </ion-list>
</ion-content>
