<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{'NOTEBOOK.SEARCH_PLAYER'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar
            #searchbar
            [formControl]="searchBox"
            debounce="500"
            [enterkeyhint]="'search'"
            (keydown.enter)="hideKeyboard()"
            [showClearButton]="true"
            id="search-member"
            placeholder="{{'SEARCH.SEARCH'|translate}}"
            type="search"
        ></ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding-top">
    <ng-container *ngIf="members$|async as members">
        <div [hidden]="loading">
            <ion-list [inset]="true" [lines]="'inset'" *ngIf="members.length">
                <ion-item (click)="playerClicked(member)" *ngFor="let member of members">
                    <ion-label>
                        {{member.FirstName | titlecase}} {{member.LastName | titlecase}}
                    </ion-label>
                    <ion-label slot="end">{{member.Ranking}}</ion-label>
                </ion-item>
            </ion-list>

        </div>
        <beping-alert-full-page
                *ngIf="!members.length"
                [icon]="'information-circle-outline'"
                [title]="'SEARCH.NO_RESULT'|translate">
        </beping-alert-full-page>
        <div *ngIf="loading">
            <beping-skeleton-item-list-component></beping-skeleton-item-list-component>
        </div>

    </ng-container>

</ion-content>
