<ion-header>
    <ion-toolbar>
        <ion-title>{{'NOTEBOOK.SEARCH_PLAYER'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar
            #searchbar
            [formControl]="searchBox"
            debounce="500"
            [enterkeyhint]="'search'"
            (keydown.enter)="hideKeyboard()"
            [showClearButton]="true"
            id="search-member"
            placeholder="{{'SEARCH.SEARCH'|translate}}"
            type="search"
        ></ion-searchbar>
    </ion-toolbar>

</ion-header>

<ion-content class="ion-padding-top">
    <div [hidden]="loading">
        <ion-list [inset]="true" [lines]="'inset'">
            <ion-item (click)="playerClicked(member)" *ngFor="let member of members$|async">
                <ion-label>

                        {{member.FirstName | titlecase}} {{member.LastName | titlecase}}

                </ion-label>
                <ion-label slot="end">{{member.Ranking}}</ion-label>
            </ion-item>
        </ion-list>

    </div>

    <div *ngIf="loading">
        <ion-list [inset]="true" [lines]="'inset'">
            <ion-item *ngFor="let t of skeletonRows">
                <ion-label>
                    <ion-skeleton-text [ngStyle]="{width: t+'%'}" animated="animated"></ion-skeleton-text>
                </ion-label>
            </ion-item>
        </ion-list>

    </div>
</ion-content>
