<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{(division$ |async)?.DivisionName}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addToCalendar()" *ngIf="bepingProEnabled$|async">
                <ion-icon
                        size="small"
                        [name]="'calendar-number-outline'"
                        slot="icon-only">
                </ion-icon>
            </ion-button>
            <beping-favorite-btn
                    (clicked)="toggleFavorite()"
                    [enabled]="isFavorite$|async"
            ></beping-favorite-btn>
        </ion-buttons>
    </ion-toolbar>
    <ion-toolbar>
        <ion-segment scrollable swipe-gesture [value]="tabIndex" (ionChange)="selectTab($event.detail.value)">
            <ion-segment-button id="segment-0" [value]="0">
                <ion-label class="ion-text-capitalize">{{'TEAM_STAT.RANKING' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button id="segment-1" [value]="1">
                <ion-label class="ion-text-capitalize">{{'COMMON.CALENDAR' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button id="segment-2" [value]="2">
                <ion-label class="ion-text-capitalize">{{'COMMON.PLAYERS' | translate}}</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <super-tabs #superTabs>
        <super-tabs-container>
            <super-tab>
                <ion-grid class="ion-no-padding">
                    <ion-row style="font-size: 0.8rem;color: #9B9B9B; padding: 15px 30px 5px 30px;">
                        <ion-col size="1">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.RANKING_THREE_LETTERS' | translate}}</ion-text>
                        </ion-col>
                        <ion-col size="5">
                            <ion-text class="ion-text-wrap">{{'COMMON.TEAM'|translate}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-center" size="1">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.PLAYED_FIRST_LETTER' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-center" size="1">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.WON_FIRST_LETTER' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-center" size="1">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.LOST_FIRST_LETTER' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-center" size="1">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.DRAW_FIRST_LETTER' | translate}}</ion-text>
                        </ion-col>
                        <ion-col class="ion-text-center" size="2">
                            <ion-text class="ion-text-wrap">{{'TEAM_STAT.POINTS_THREE_LETTER' | translate}}</ion-text>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ng-container *ngIf="ranking$ | async as ranking">
                    <ion-item (click)="navigateToTeam(rankingEntry)"
                              *ngFor="let rankingEntry of ranking; let index = index"
                              style="--padding-start: 0px; --padding-end: 0px;"
                    >
                        <ion-grid style="padding-top: 7px; padding-bottom: 7px">
                            <ion-row class="ion-align-items-center">
                                <ion-col class="ion-text-wrap" size="1">
                                    <ion-label class="ion-text-wrap">
                                        {{rankingEntry.Position}}
                                    </ion-label>
                                </ion-col>
                                <ion-col size="5">
                                    <ion-label class="ion-text-wrap">
                                        <h2>{{rankingEntry.Team}}</h2>
                                    </ion-label>
                                </ion-col>
                                <ion-col class="border-right ion-text-center" size="1">
                                    <ion-label class="ion-text-wrap" color="grey">
                                        {{rankingEntry.GamesPlayed}}
                                    </ion-label>
                                </ion-col>
                                <ion-col class="border-right ion-text-center" size="1">
                                    <ion-label class="ion-text-wrap" color="grey">
                                        {{rankingEntry.GamesWon}}
                                    </ion-label>
                                </ion-col>
                                <ion-col class="border-right ion-text-center" size="1">
                                    <ion-label class="ion-text-wrap" color="grey">
                                        {{rankingEntry.GamesLost}}
                                    </ion-label>
                                </ion-col>
                                <ion-col class="border-right ion-text-center" size="1">
                                    <ion-label class="ion-text-wrap" color="grey">
                                        {{rankingEntry.GamesDraw}}
                                    </ion-label>
                                </ion-col>
                                <ion-col class="ion-text-center text-bold" size="2">
                                    <ion-label class="ion-text-wrap">
                                        {{rankingEntry.Points}}
                                    </ion-label>
                                </ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-item>
                </ng-container>
            </super-tab>
            <super-tab>
                <beping-team-matches-entry-list [teamMatchEntries$]="matches$"></beping-team-matches-entry-list>
            </super-tab>
            <super-tab>
                <cdk-virtual-scroll-viewport itemSize="70" maxBufferPx="1350"
                                             minBufferPx="900">
                    <ion-header>
                        <ion-grid class="ion-no-padding">
                            <ion-row style="font-size: 0.8rem;color: #9B9B9B; padding: 15px 30px 5px 30px;">
                                <ion-col size="5">
                                    <ion-text
                                            class="ion-text-wrap">{{'TEAM_STAT.NAME_THREE_LETTERS'|translate}}</ion-text>
                                </ion-col>
                                <ion-col class="" size="2">
                                    <ion-text
                                            class="ion-text-nowrap">{{'TEAM_STAT.RANKING_THREE_LETTERS'|translate}}</ion-text>
                                </ion-col>
                                <ion-col class="" size="2">
                                    <ion-text
                                            class="ion-text-nowrap">{{'TEAM_STAT.PLAYED_FIRST_LETTER'|translate}}</ion-text>
                                </ion-col>
                                <ion-col class="ion-text-center" size="2">
                                    <ion-text
                                            class="ion-text-nowrap">{{'TEAM_STAT.PERCENT_THREE_LETTERS'|translate}}</ion-text>
                                </ion-col>
                            </ion-row>
                        </ion-grid>

                    </ion-header>
                    <ion-list>
                        <ion-item (click)="navigateToPlayer(stat.uniqueIndex)"
                                  *cdkVirtualFor="let stat of memberRanking$|async"
                                  detail>
                            <ion-grid>
                                <ion-row class="ion-align-items-center">
                                    <ion-col class="" size="6">
                                        <ion-label>
                                            <ion-text class="ion-text-wrap">
                                                <h2>{{stat.firstName | titlecase}} {{stat.lastName | titlecase}}</h2>
                                            </ion-text>
                                        </ion-label>
                                    </ion-col>
                                    <ion-col class="" size="2">
                                        <ion-label class="ion-text-wrap">
                                            <h2>{{stat.ranking}}</h2>
                                        </ion-label>
                                    </ion-col>
                                    <ion-col class="" size="2">
                                        <ion-label class="ion-text-wrap">
                                            <h2>{{stat.played}}</h2>
                                        </ion-label>
                                    </ion-col>
                                    <ion-col class="ion-text-center ion-no-padding" size="2">
                                        <beping-victory-chart
                                                [bluePct]="stat.winPourcentage"
                                                [redPct]="stat.losePourcentage"
                                                [small]="true"
                                                [title]="stat.winPourcentage + '%'"
                                        >
                                        </beping-victory-chart>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>

                        </ion-item>
                    </ion-list>

                </cdk-virtual-scroll-viewport>

            </super-tab>

        </super-tabs-container>
    </super-tabs>

</ion-content>


