<ion-card>
    <ion-card-content class="ion-no-padding">
        <ion-list>
            <ion-item-group>
                <ion-item lines="full">
                    <ion-label>
                        <b>Infos match</b>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <ion-icon name="time-outline" size="large"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Heure</h2>
                        <p>Sam. 21 nov. à 16:00</p>
                    </ion-label>
                </ion-item>
                <ion-item lines="none">
                    <ion-avatar slot="start">
                        <ion-icon name="location-outline" size="large"></ion-icon>
                    </ion-avatar>
                    <ion-label>
                        <h2>Salle</h2>
                        <p>Fond de bouge, Vedrin</p>
                    </ion-label>
                </ion-item>
            </ion-item-group>
        </ion-list>

    </ion-card-content>
</ion-card>
