<ion-list [inset]="true">
    <ion-item class="no-start-padding">
        <ion-grid>
            <ion-row class="ion-justify-content-center ion-align-items-center"
                     style="min-height: 125px; max-height: 400px">
                <ion-col [hidden]="victories === 0" [sizeXl]="5" class="ion-text-center" size="3">
                    <ion-label class="ion-text-wrap">{{victories}} ({{victoriesPct}}%)</ion-label>
                    <ion-label class="ion-text-nowrap" color="grey">{{'COMMON.WINS'|translate}}</ion-label>
                </ion-col>
                <ion-col [sizeXl]="2" size="6" class="ion-text-center">
                    <beping-victory-chart [bluePct]="victoriesPct" [redPct]="defeatsPct" [subtitle]="'matchs'"
                                          [title]="total.toString()"></beping-victory-chart>
                </ion-col>
                <ion-col [hidden]="defeats === 0" [sizeXl]="5" class="ion-text-center" size="3">
                    <ion-label class="ion-text-wrap">{{defeats}} ({{defeatsPct}}%)</ion-label>
                    <ion-label class="ion-text-nowrap" color="grey">{{'COMMON.DEFEATS'|translate}}</ion-label>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-item>

</ion-list>
