<ion-header class="ion-no-border">
    <ion-toolbar mode="md" #toolbar style="--background: transparent;">
        <ion-buttons slot="start">
            <ion-img src="/assets/imgs/icon.png" class="beping-icon"></ion-img>
        </ion-buttons>
        <ion-title>
            <span [class.shining]="isLoading$ | async"
                  [class.white]="!(isLoading$ | async)">BePing
                <ion-badge *ngIf="isPro$|async"
                           color="primary"
                           mode="ios">Pro</ion-badge>
            </span>
        </ion-title>
        <ion-buttons slot="end">
            <ion-button id="cart-btn" (click)="openCalculator()" [disabled]="!(currentMemberEntry$|async)"
                        *ngIf="displayNumericRanking$|async">
                <ion-icon name="calculator-outline" slot="icon-only"></ion-icon>
                <ng-container *ngIf="pointsInCalculator$|async as pointsCount">
                    <ion-badge id="cart-badge" color="danger" mode="ios"
                               *ngIf="pointsCount > 0">{{pointsCount}}</ion-badge>

                </ng-container>
            </ion-button>
            <ion-button (click)="openSettings()">
                <ion-icon name="cog-outline" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true" bepingFadeHeader [toolbar]="toolbar" class="ion-padding-bottom">
    <ion-refresher #refresher (ionRefresh)="refresh($event)" slot="fixed">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <div class="extended-gradient"></div>
    <ng-container *ngIf="(currentMemberEntry$ | async) as currentMemberEntry; else noMember">

        <beping-member-name-ranking-info
                [category]="currentCategory$|async"
                [displayELO]="displayELO$|async"
                [displayNumericRanking]="displayNumericRanking$|async"
                [member]="currentMemberEntry">
        </beping-member-name-ranking-info>

        <ion-card *ngIf="connectivityIssue$|async" [color]="'danger'" class="ion-padding">
            <ion-icon name="cloud-offline-outline" size="small" class="ion-margin-end"></ion-icon>

            <ion-label class="multiline">
                {{'CONNECTIVITY_ISSUE'|translate}}
            </ion-label>
        </ion-card>


        <beping-become-pro
                *ngIf="false"
                (openPro)="openPro()"
                (dismiss)="dismissPro()">
        </beping-become-pro>

        <ng-container *ngIf="currentMemberEntry.ResultEntries?.length > 0; else noResults">
            <beping-member-victory-chart
                    [memberResultEntries]="currentMemberEntry.ResultEntries">
            </beping-member-victory-chart>

            <ng-container *ngIf="currentMemberEntry.numericRankings">
                <beping-ranking-history-graphs
                        [category]="currentCategory$|async"
                        [displayElo]="displayELO$|async"
                        [displayNumericRanking]="displayNumericRanking$|async"
                        [numericRankings]="currentMemberEntry.numericRankings">
                </beping-ranking-history-graphs>
            </ng-container>

            <beping-tie-break-played
                    [memberResultEntries]="currentMemberEntry.ResultEntries">
            </beping-tie-break-played>
            <beping-rotatio *ngIf="partnershipRotatio$|async"></beping-rotatio>
            <beping-member-latest-matches
                    [matches]="latestMatches$| async">
            </beping-member-latest-matches>

            <beping-member-summary-per-ranking
                    [memberResultEntries]="currentMemberEntry.ResultEntries">
            </beping-member-summary-per-ranking>
        </ng-container>
        <ng-template #noResults>
            <beping-card [padding]="true" class="ion-text-center">

                <img src="assets/imgs/no_data.svg" alt="no data"
                     style="width: 20vw; max-width: 100px; padding: 15px 15px 15px 0;"/>

                <h3 class="ion-padding">
                    {{'DASHBOARD.NO_RESULTS'|translate}}
                    <ng-container *ngIf="(categoriesAvailable$|async)?.length > 1">
                        {{'DASHBOARD.IN_THIS_CATEGORY'|translate}}
                    </ng-container>
                </h3>
            </beping-card>
        </ng-template>

    </ng-container>
    <ng-template #noMember>
        <beping-card [marging]="true" [padding]="true">
            <ion-grid>
                <ion-row><h3 class="ion-text-center ion-padding">
                    {{'DASHBOARD.NO_PLAYER_SELECTED'|translate}}
                </h3></ion-row>
                <ion-row>
                    <ion-button (click)="chooseMainMember()" class="ion-margin"
                                expand="block">{{'DASHBOARD.CHOOSE_PLAYER'|translate}}
                    </ion-button>
                </ion-row>
            </ion-grid>
            <br>


        </beping-card>
        <beping-card [marging]="true" [padding]="true">
            <h3 class="ion-text-center ion-padding">
                {{'DASHBOARD.YOU_CAN_SEE_RESULTS_BOTTOM_NAV'|translate}}
            </h3>
        </beping-card>
    </ng-template>


    <ng-container *ngIf="categoriesAvailable$ |async as playercategories">
        <ion-fab *ngIf="playercategories.length > 1" horizontal="end" slot="fixed" vertical="bottom">
            <ion-fab-button>
                <ion-icon [name]="getIcon(currentCategory$ | async)"></ion-icon>
            </ion-fab-button>
            <ion-fab-list side="top">
                <ion-fab-button
                        (click)="categoryClicked(category)"
                        *ngFor="let category of playercategories"
                        [attr.data-desc]="'PLAYER_CATEGORY.' + category | translate"
                        [color]="category === (currentCategory$|async)?'primary': 'light'"
                        [disabled]="category === (currentCategory$|async)">
                    <ion-icon [name]="getIcon(category)"></ion-icon>
                </ion-fab-button>
            </ion-fab-list>
        </ion-fab>

    </ng-container>

</ion-content>
