<ion-row (click)="playerClicked.emit()">
    <ion-col class="border-right" size="1">
        <ion-label>
            {{player?.Position}}
        </ion-label>
    </ion-col>
    <ion-col class="ion-padding-start" size="7">
        <ion-label>
            {{player?.FirstName | titlecase}} {{player?.LastName| titlecase}}
        </ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label class="ion-text-right">
            {{player?.Ranking}}
        </ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label class="ion-text-right">
            <span *ngIf="player.IsForfeited">
                WO
            </span>
            <span *ngIf="!player.IsForfeited">
                {{player?.VictoryCount}}
            </span>

        </ion-label>
    </ion-col>
</ion-row>
