<ion-row (click)="playerClicked.emit()">
    <ion-col size="1" class="border-right">
        <ion-label>
            {{player.Position}}
        </ion-label>
    </ion-col>
    <ion-col size="7">
        <ion-label>
            {{player.FirstName | titlecase}} {{player.LastName| titlecase}}
        </ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label class="ion-text-right">
            {{player.Ranking}}
        </ion-label>
    </ion-col>
    <ion-col size="2">
        <ion-label class="ion-text-right">
            {{player.VictoryCount}}
        </ion-label>
    </ion-col>
</ion-row>
