<ion-list [inset]="true" [lines]="'inset'" *ngIf="venues; else loading">
    <ion-item (click)="navigateToVenue(venue)" *ngFor="let venue of venues">
        <ion-label>
            {{venue.Name | titlecase}}
            <p>{{venue.Street}} {{venue.Town}}</p>
            <p>{{venue.Phone}}</p>
        </ion-label>
        <ion-icon slot="end" class="ion" color="primary" name="navigate-circle-outline"
                  size="large"></ion-icon>
    </ion-item>
</ion-list>
<ng-template #loading>
    <beping-skeleton-item-list-component [rows]="12"></beping-skeleton-item-list-component>
</ng-template>
