<beping-section-title *ngIf="lastOpponents?.length"
                      [title]="'DASHBOARD.LATEST_INDIVIDUAL_MATCHES'|translate"
></beping-section-title>

<ng-container *ngIf="numericRankingDetails">
    <swiper #swiper [config]="swiperConfig" class="beping-swiper" >
        <ng-template *ngFor="let weekDetails of numericRankingDetails; last as isLast" swiperSlide>
            <ion-list [inset]="true" [lines]="'inset'" [style.margin-right]="!isLast ? '0' : ''">
                <ion-item [lines]="'inset'" color="light">
                    <ion-label>
                        {{weekDetails.date|localizedDate}}
                        <p class="text-xsmall ion-text-wrap">{{weekDetails.competitionContext}}</p>
                    </ion-label>
                    <ion-label class="ion-text-end" [color]="(weekDetails.endPoints > weekDetails.basePoints || !weekDetails.endPoints) ? 'primary' : 'danger'">
                        {{weekDetails.basePoints | number: '1.0-0':'fr' }}
                        <ion-icon *ngIf="weekDetails.basePoints<weekDetails.endPoints" name="trending-up"></ion-icon>
                        <ion-icon *ngIf="weekDetails.basePoints>weekDetails.endPoints" name="trending-down"></ion-icon>
                        <span *ngIf="weekDetails.endPoints && weekDetails.basePoints !== weekDetails.endPoints"> {{weekDetails.endPoints | number: '1.0-0':'fr' }}</span>
                    </ion-label>
                </ion-item>
                <ion-item *ngFor="let opponent of weekDetails.opponents">
                    <!--<beping-card (click)="navigateToDetails()" [marging]="false" [padding]="false">-->
                    <ion-grid class="ion-no-padding">
                        <ion-row class="ion-align-items-center">
                            <ion-col class="ion-no-padding" size="6">
                                <ion-label class="ion-text-wrap">
                                    {{opponent.opponentName |titlecase}}
                                </ion-label>
                            </ion-col>
                            <ion-col class="ion-text-center ion-no-padding" size="2">
                                <ion-label class="ion-no-margin small">{{opponent.score}}</ion-label>

                            </ion-col>
                            <ion-col class="ion-text-center ion-no-padding" size="2">
                                <ion-label class="ion-no-margin small">{{opponent.opponentRanking}}</ion-label>

                            </ion-col>
                            <ion-col [class.is-color-danger]="opponent.pointsWon < 0"
                                     [class.is-color-primary]="opponent.pointsWon > 0"
                                     class="ion-text-end ion-no-padding" size="2">
                                <ion-label
                                        class="ion-no-margin small">{{opponent.pointsWon > 0 ? '+' : ''}}{{opponent.pointsWon}}</ion-label>
                            </ion-col>
                        </ion-row>
                    </ion-grid>
                    <!--</beping-card>-->
                </ion-item>
            </ion-list>

        </ng-template>
    </swiper>

</ng-container>
