<ion-header>

    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button [text]="'BACK'|translate"></ion-back-button>
        </ion-buttons>
        <ion-title>{{'SETTINGS.CONNECT_TO_FEDERATION'|translate}}</ion-title>
        <ion-buttons slot="end" *ngIf="modalCtrl">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>

    </ion-toolbar>

</ion-header>

<ion-content>
    <ion-list>
        <form [formGroup]="loginForm" (ngSubmit)="login()" novalidate>
            <ion-item>
                <ion-input
                        [formControlName]="'username'"
                        tabindex="1"
                        placeholder="{{'SETTINGS.USERNAME'|translate}}">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                        [formControlName]="'password'"
                        placeholder="{{'SETTINGS.PASSWORD'|translate}}"
                        tabindex="2"
                        type="password">
                </ion-input>
            </ion-item>
            <ion-item class="ion-text-center" type="submit" color="primary" [disabled]="loginForm.invalid"
                      (click)="login()">
                <ion-label class="ion-no-margin">
                    <span *ngIf="!loading; else loader">{{'SETTINGS.LOGIN'|translate}}</span>
                    <ng-template #loader>
                        <ion-spinner name="dots"></ion-spinner>
                    </ng-template>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button (click)="forgot()" color="primary"
                                fill="clear">{{'SETTINGS.FORGOT_PASSWORD' | translate}}</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button (click)="register()" color="primary"
                                fill="clear">{{'SETTINGS.REGISTER' | translate}}</ion-button>
                </ion-col>
            </ion-row>
            <ion-item class="ion-color-grey" *ngIf="(lang$|async) === 'fr'">
                <p>
                    Attention, l'identifiant demandé n'est pas celui de votre espace personnel! BePing a besoin des identifiants du site
                    https://resultats.aftt.be/
                </p>
            </ion-item>
            <ion-item class="ion-color-grey">
                <p>
                    {{'SETTINGS.BEPING_NOT_AFFILIATE' | translate}}
                </p>
            </ion-item>
            <ion-item class="ion-color-grey">
                <p>
                    {{'SETTINGS.BEPING_NOT_OFFICIAL' | translate}}
                </p>
            </ion-item>

        </form>
    </ion-list>


</ion-content>
