<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'SETTINGS.CONNECT_TO_FEDERATION'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-top">
    <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
        <ion-list [inset]="true">
            <ion-item>
                <ion-input
                        [formControlName]="'username'"
                        placeholder="{{'SETTINGS.USERNAME'|translate}}"
                        tabindex="1">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                        [formControlName]="'password'"
                        placeholder="{{'SETTINGS.PASSWORD'|translate}}"
                        tabindex="2"
                        type="password">
                </ion-input>
            </ion-item>
        </ion-list>
        <ion-button
                (click)="login()"
                [disabled]="loginForm.invalid"
                class="ion-text-center"
                style="display: block"
                color="primary"
                fill="clear">
            <span *ngIf="!loading; else loader">{{'SETTINGS.LOGIN'|translate}}</span>
            <ng-template #loader>
                <ion-spinner name="dots"></ion-spinner>
            </ng-template>
        </ion-button>

        <ion-button (click)="forgot()" color="primary"
                    fill="clear">{{'SETTINGS.FORGOT_PASSWORD' | translate}}</ion-button>
        <ion-button (click)="register()" color="primary" fill="clear">{{'SETTINGS.REGISTER' | translate}}</ion-button>
        <ion-list [inset]="true">
            <ion-item *ngIf="(lang$|async) === 'fr'" class="ion-color-grey">
                <ion-label class="ion-text-wrap">

                        Attention, l'identifiant demandé n'est pas celui de votre espace personnel! BePing a besoin
                        des
                        identifiants du site
                        https://resultats.aftt.be/

                </ion-label>
            </ion-item>
            <ion-item class="ion-color-grey">
                <ion-label class="ion-text-wrap">

                        {{'SETTINGS.BEPING_NOT_AFFILIATE' | translate}}

                </ion-label>
            </ion-item>
            <ion-item class="ion-color-grey">
                <ion-label class="ion-text-wrap">

                        {{'SETTINGS.BEPING_NOT_OFFICIAL' | translate}}

                </ion-label>
            </ion-item>

        </ion-list>


    </form>


</ion-content>
