<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title>{{'SETTINGS.CONNECT_TO_FEDERATION'|translate}}</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <form (ngSubmit)="login()" [formGroup]="loginForm" novalidate>
            <ion-item>
                <ion-input
                        [formControlName]="'username'"
                        placeholder="{{'SETTINGS.USERNAME'|translate}}"
                        tabindex="1">
                </ion-input>
            </ion-item>
            <ion-item>
                <ion-input
                        [formControlName]="'password'"
                        placeholder="{{'SETTINGS.PASSWORD'|translate}}"
                        tabindex="2"
                        type="password">
                </ion-input>
            </ion-item>
            <ion-item (click)="login()" [disabled]="loginForm.invalid" class="ion-text-center" color="primary"
                      type="submit">
                <ion-label class="ion-no-margin">
                    <span *ngIf="!loading; else loader">{{'SETTINGS.LOGIN'|translate}}</span>
                    <ng-template #loader>
                        <ion-spinner name="dots"></ion-spinner>
                    </ng-template>
                </ion-label>
            </ion-item>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button (click)="forgot()" color="primary"
                                fill="clear">{{'SETTINGS.FORGOT_PASSWORD' | translate}}</ion-button>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="ion-text-center">
                    <ion-button (click)="register()" color="primary"
                                fill="clear">{{'SETTINGS.REGISTER' | translate}}</ion-button>
                </ion-col>
            </ion-row>
            <ion-item *ngIf="(lang$|async) === 'fr'" class="ion-color-grey">
                <ion-label class="ion-text-wrap">
                    Attention, l'identifiant demandé n'est pas celui de votre espace personnel! BePing a besoin des
                    identifiants du site
                    https://resultats.aftt.be/
                </ion-label>
            </ion-item>
            <ion-item class="ion-color-grey">
                <ion-label class="ion-text-wrap">
                    {{'SETTINGS.BEPING_NOT_AFFILIATE' | translate}}
                </ion-label>
            </ion-item>
            <ion-item class="ion-color-grey">
                <ion-label class="ion-text-wrap">
                    {{'SETTINGS.BEPING_NOT_OFFICIAL' | translate}}
                </ion-label>
            </ion-item>

        </form>
    </ion-list>


</ion-content>
