<beping-section-title [title]="'DASHBOARD.SUMMARY_BY_RANKING'|translate"></beping-section-title>
<ng-container>
    <ion-grid>
        <ion-row>
            <ion-col *ngFor="let ranking of resultsPerRanking | keyvalue" size="12" sizeLg="6" sizeXl="6">
                <beping-ranking-summary
                        [ranking]="ranking.key"
                        [results]="ranking.value"
                        [isOpen]="isTablet"
                >
                </beping-ranking-summary>
            </ion-col>
        </ion-row>
    </ion-grid>
</ng-container>

