<ion-header class="ion-no-border">
    <ion-toolbar style="--background: transparent" #toolbar>
        <ion-buttons slot="start" *ngIf="!isModal">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-buttons slot="end" *ngIf="isModal">
            <ion-button (click)="closeModal()">
                <ion-icon icon="close-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>

</ion-header>

<ion-content [scrollEvents]="true" [fullscreen]="true" bepingFadeHeader [toolbar]="toolbar" >
    <ng-container *ngIf="isPro$|async; else notPro">
        <ion-list>
            <ion-item>
                <ion-label>
                    {{'SETTINGS.NEXT_RENEW' | translate}}
                </ion-label>
                <ion-label slot="end">{{expiryDate$|async|date}}</ion-label>
            </ion-item>
            {{expiryDate$|async}}
            <ion-item>
                <ion-label class="ion-text-wrap">
                    <h2>{{'SETTINGS.THANKS_FOR_SUPPORT' | translate}}</h2>
                </ion-label>
            </ion-item>
        </ion-list>

        <hr>
        <ion-button color="primary" fill="outline" expand="block" (click)="manageSubscription()"
                    class="ion-padding-start ion-padding-end">
            {{'SETTINGS.MANAGE_SUBSCRIPTION' | translate}}
        </ion-button>
    </ng-container>
    <ng-template #notPro>
        <div class="ion-padding">
            <h1 class="ion-no-margin ion-margin-bottom">{{'BEPING_PRO.BECOME_PRO_AND_SUPPORT'|translate}}</h1>
            <ion-grid>
                <ion-row>
                    <ion-col size="2" class="ion-text-center">
                        <ion-icon name="calendar-number-outline" size="large" color="grey" class="ion-padding-top"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <h5>{{'BEPING_PRO.FEATURES.CONNECT_TO_CALENDAR'|translate}}</h5>
                        <p><ion-text color="grey">{{'BEPING_PRO.FEATURES.CONNECT_TO_CALENDAR_TEXT'|translate}}</ion-text></p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="2" class="ion-text-center">
                        <ion-icon name="notifications-outline" size="large" color="grey"
                                  class="ion-padding-top"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <h5>{{'BEPING_PRO.FEATURES.NOTIFICATIONS'|translate}} <ion-badge>{{'COMMON.SOON'|translate}}</ion-badge></h5>
                        <p><ion-text color="grey">{{'BEPING_PRO.FEATURES.NOTIFICATIONS_TEXT'|translate}}</ion-text></p>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col size="2" class="ion-text-center">
                        <ion-icon name="people-outline" size="large" color="grey"
                                  class="ion-padding-top"></ion-icon>
                    </ion-col>
                    <ion-col size="10">
                        <h5>{{'BEPING_PRO.FEATURES.FACE_TO_FACE'|translate}}</h5>
                        <p><ion-text color="grey">{{'BEPING_PRO.FEATURES.FACE_TO_FACE_TEXT'|translate}}</ion-text></p>
                    </ion-col>
                </ion-row>

            </ion-grid>

            <h1 class="ion-no-margin-vertical">{{'BEPING_PRO.PRICE_FREE'|translate}}</h1>
            <ion-text color="grey"><h5 class="ion-no-margin">{{'BEPING_PRO.NO_ENGAGEMENT'|translate}}</h5></ion-text>

            <div style="padding: 0 20% 0 20%; text-align: center; display: flex; flex-direction: column;">
                <img src="assets/imgs/avatar{{priceSlider.value}}.png" alt=""
                     style="max-width: 140px; align-self: center">
                <ion-text color="primary">
                    <ng-container *ngIf="currentProduct$|async as iap">{{iap.price}}/{{iap.billingPeriodUnit|lowercase}}</ng-container>
                </ion-text>
                <ion-text color="grey" class="ion-padding-top">{{'BEPING_PRO.YOUR_CONTRIBUTION_HELP'|translate}}</ion-text>
                <ion-range min="1" max="3" color="primary" [snaps]="true" [formControl]="priceSlider"
                           [ticks]="false"></ion-range>
            </div>
            <ion-button expand="block" [disabled]="!(currentProduct$|async)?.canPurchase" (click)="order()">
                {{'BEPING_PRO.BECOME_PRO'|translate}}
            </ion-button>
            <div class="ion-text-center">
                <ion-button class="ion-margin-top" size="small" fill="outline" shape="round" (click)="restore()">
                    {{'BEPING_PRO.RESTORE'|translate}}
                </ion-button>
                <div class="ion-margin-top"><ion-text color="primary" (click)="goToTermsOfUse()">{{'SETTINGS.TERMS_AND_CONDITIONS'|translate}}</ion-text> {{'COMMON.AND'|translate}} <ion-text color="primary" (click)="goToPrivacy()">{{'SETTINGS.PRIVACY_POLICY'|translate}}</ion-text></div>
            </div>

        </div>
    </ng-template>

    <div class="ion-padding">
        <h1>{{'BEPING_PRO.WHY_SUBSCRIPTION'|translate}}</h1>
        <p style="white-space: pre-line">{{'BEPING_PRO.WHY_SUBSCRIPTION_TEXT'|translate}}</p>

    </div>

</ion-content>
