<ion-list [inset]="true" [lines]="'inset'" *ngIf="teams; else loading">
    <ion-item
            *ngFor="let team of teams"
            [routerLink]="['team', team.TeamId]"
            detail>
        <ion-label class="ion-padding-vertical">
            {{club.Name}} {{team.Team}}
            <p>{{team.DivisionName}}</p>
        </ion-label>
    </ion-item>
</ion-list>
<ng-template #loading>
    <beping-skeleton-item-list-component [rows]="12"></beping-skeleton-item-list-component>
</ng-template>
