<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'HEAD_2_HEAD.TITLE_SHORT'|translate}}</ion-title>

    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <ng-container *ngIf="head2headResults$|async as head2HeadData">
        <beping-face-to-face-summary  [head2headData]="head2HeadData"></beping-face-to-face-summary>
        <beping-head-2-head-per-season
                [playersInfo]="head2HeadData.playersInfo"
                [matchesPerSeason]="matchesPerSeason$|async"
                (matchClicked)="goToMatchSheet($event)"
        >
        </beping-head-2-head-per-season>
    </ng-container>
</ion-content>
