<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <beping-localized-back-btn></beping-localized-back-btn>
        </ion-buttons>
        <ion-title>{{'SEARCH.SEARCH'|translate}}</ion-title>

    </ion-toolbar>
    <ion-toolbar>
        <ion-searchbar [formControl]="searchControl" [placeholder]="'SEARCH.PLACEHOLDER'|translate"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding-top">
    <ng-container *ngIf="clubsFound$ | async as clubs">
        <ng-container *ngIf="clubs.results?.length > 0">
            <beping-section-title [title]="'COMMON.CLUBS' | translate"></beping-section-title>
            <ion-list [inset]="true" [lines]="'inset'">
                <ion-item *ngFor="let club of clubs.results" (click)="clubClicked(club)">
                    <ion-label>
                        {{club.UniqueIndex}} - {{club.LongName}}
                        <p>
                            {{club.CategoryName}}
                        </p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="divisionsFound$ | async as divisions">
        <ng-container *ngIf="divisions.results?.length > 0">
            <beping-section-title [title]="'COMMON.DIVISIONS' | translate"></beping-section-title>
            <ion-list [inset]="true">
                <ion-item (click)="divisionClicked(div)" *ngFor="let div of divisions.results" detail>
                    <ion-label class="ion-text-wrap">
                        {{div.DivisionName.split('-')[0] | titlecase}}
                        <p>{{'DIVISION_LEVEL.' + div.Level | translate}}
                            - {{'PLAYER_CATEGORY.' + div.DivisionCategory | translate | titlecase}}</p>
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="membersFound$ | async as membersSearchResults">
        <ng-container *ngIf="membersSearchResults.results?.length > 0">
            <beping-section-title [title]="'COMMON.PLAYERS' | translate"></beping-section-title>
            <ion-list [inset]="true">
                <ion-item *ngFor="let player of membersSearchResults.results" (click)="memberClicked(player)">
                    <ion-label>
                        {{player.FirstName | titlecase}} {{player.LastName | titlecase}}
                        <p>{{player.Club}}</p>
                    </ion-label>
                    <ion-note slot="end">{{player.Ranking}}</ion-note>
                </ion-item>
            </ion-list>
        </ng-container>
        <ng-container *ngIf="membersSearchResults.isLoading">
            <beping-section-title [title]="'COMMON.PLAYERS' | translate"></beping-section-title>
            <ion-list [inset]="true">
                <ion-item>
                    <ion-spinner slot="start"></ion-spinner>
                    <ion-label>
                        {{'SEARCH.SEARCHING_PLAYERS'|translate}}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-container>
    </ng-container>


    <ng-container *ngIf="matchesFound$ | async as matches">
        <ng-container *ngIf="matches.results?.length > 0">
            <beping-section-title [title]="'COMMON.MATCHES' | translate"></beping-section-title>
            <ion-list *ngIf="matches.results?.length > 0" [inset]="true">
                <ion-item *ngFor="let matchesEntry of matches.results" class="no-start-padding">
                    <beping-team-match-result
                            [match]="matchesEntry">
                    </beping-team-match-result>
                </ion-item>
            </ion-list>
        </ng-container>
        <ng-container *ngIf="matches.isLoading">
            <beping-section-title [title]="'COMMON.MATCHES' | translate"></beping-section-title>
            <ion-list [inset]="true">
                <ion-item>
                    <ion-spinner slot="start"></ion-spinner>
                    <ion-label>
                        {{ 'SEARCH.SEARCHING_MATCHES'|translate }}
                    </ion-label>
                </ion-item>
            </ion-list>
        </ng-container>


    </ng-container>
    <ng-container *ngIf="noResult$ | async">
        <beping-alert-full-page
                [icon]="'information-circle-outline'"
                [title]="'SEARCH.NO_RESULT'|translate">
        </beping-alert-full-page>
    </ng-container>
    <ng-container *ngIf="introScreen$ | async">
        <beping-alert-full-page
                [icon]="'search-outline'"
                [title]="'SEARCH.SEARCH_TITLE'|translate"
                [message]="'SEARCH.SEARCH_TITLE_MSG'|translate">
        </beping-alert-full-page>
    </ng-container>
</ion-content>
