<ion-header translucent="true">
    <ion-toolbar color="primary">
        <ion-title>Recherche</ion-title>
    </ion-toolbar>
    <ion-toolbar color="primary">
        <ion-searchbar [formControl]="searchControl" placeholder="club, division, joueur, match"></ion-searchbar>
    </ion-toolbar>
</ion-header>
<ion-content>

    <ng-container *ngIf="clubsFound$ | async as clubs">
        <ion-list *ngIf="clubs.results?.length > 0">
            <ion-list-header>
                {{ 'Club' }}
            </ion-list-header>
            <beping-club-item
                    *ngFor="let club of clubs.results"
                    [club]="club"
                    [detail]="true"
                    (clubClicked)="clubClicked($event)"
            ></beping-club-item>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="divisionsFound$ | async as divisions">
        <ion-list *ngIf="divisions.results?.length > 0">
            <ion-list-header>
                {{ 'Divisions' }}
            </ion-list-header>
            <ion-item detail *ngFor="let div of divisions.results" (click)="divisionClicked(div)">
                <ion-label class="ion-text-wrap">
                    <h3>{{div.DivisionName.split('-')[0] | titlecase}}</h3>
                    <p>{{'DIVISION_LEVEL.' + div.Level | translate}}
                        - {{'PLAYER_CATEGORY.' + div.DivisionCategory | translate | titlecase}}</p>
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>

    <ng-container *ngIf="membersFound$ | async as membersSearchResults">
        <ion-list *ngIf="membersSearchResults.results?.length > 0">
            <ion-list-header>
                {{ 'Joueurs' }}
            </ion-list-header>
            <beping-member-item
                    [member]="player"
                    *ngFor="let player of membersSearchResults.results"
                    [detail]="true"
                    (memberClicked)="memberClicked($event)"
            ></beping-member-item>
        </ion-list>
        <ion-list *ngIf="membersSearchResults.isLoading">
            <ion-list-header>
                {{ 'Joueurs' }}
            </ion-list-header>
            <ion-item>
                <ion-spinner slot="start"></ion-spinner>
                <ion-label>
                    Recherche de joueurs
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>


    <ng-container *ngIf="matchesFound$ | async as matches">
        <ion-list *ngIf="matches.results?.length > 0">
            <ion-list-header>
                {{ 'Matchs' }}
            </ion-list-header>
            <beping-team-match-result
                    *ngFor="let matchesEntry of matches.results" [match]="matchesEntry"

            >
            </beping-team-match-result>
        </ion-list>
        <ion-list *ngIf="matches.isLoading">
            <ion-list-header>
                {{ 'Matchs' }}
            </ion-list-header>
            <ion-item>
                <ion-spinner slot="start"></ion-spinner>
                <ion-label>
                    Recherche de match
                </ion-label>
            </ion-item>
        </ion-list>
    </ng-container>
    <ng-container *ngIf="noResult$ | async">
        <div class="no-result-container ion-padding">
            <ion-icon [color]="'grey'" name="information-circle-outline" size="large"></ion-icon>
            <ion-label [color]="'grey'"><h1>Aucun résultat trouvé</h1></ion-label>

        </div>
    </ng-container>
    <ng-container *ngIf="introScreen$ | async">
        <div class="no-result-container ion-padding">
            <ion-icon [color]="'grey'" name="search-outline" size="large"></ion-icon>
            <ion-label [color]="'grey'"><h1>Vous pouvez chercher joueur, division, club ou feuille de match</h1></ion-label>
        </div>
    </ng-container>
</ion-content>
